{% extends "cam.html" %}

{% block extrastyle %}
{{ block.super }}
<meta name="viewport" content="width=device-width" />

<!--[if !IE]>-->
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="/static/css/small-device.css" type="text/css" >
<link rel="stylesheet" media="screen and (min-device-width: 481px)" href="/static/css/normal-browser.css" type="text/css" >
<!--<![endif]-->
{% endblock extrastyle %}

{% block javascript %}
{{ block.super }}

<!-- My source -->
<script type="text/javascript" src="/static/js/doc_utils.js"></script>
<script type="text/javascript" src="/static/js/cam_list.js"></script>
{% endblock javascript %}

{% block content %}

<script language="javascript">
function reDir(id) {
    if (id == "")
        return false;
    var loc = "/cam/";
    loc = loc.concat(id.toString(), "/");
    window.location=loc;
}
function reCat(id) {
    if (id == "")
        return false;
    var loc = "/cam/?cat=";
    loc = loc.concat(id.toString());
    window.location=loc;
}
</script>

<div>
    <div class="cam_form_category">
    <form action="." method="post">
        <select id="id_category">
        {% for cat in catlist %}
            <option value="{{ cat.id }}"{% ifequal cat category %} selected="selected"{% endifequal %}>
                {{ cat.title }}</option>
        {% endfor %}
        </select>
    </form>
    </div>
    <form action="." method="post">
        <select id="id_image" onchange=reDir(this.options[this.selectedIndex].value);>
        {% for cam in camlist %}
            <option value="{{ cam.id }}"{% ifequal cam.id image.id %} selected="selected"{% endifequal %}>
                {{ cam.title }}</option>
        {% endfor %}
        </select>
    </form>
</div>

<div>
<img alt="{{ image.title }}" src="{{ image.url }}"
</div>
<div>
{% if image.description %}
{{ image.description }}
{% else %}
{{ image.title }}
{% endif %}
</div>


<style>

label {float:left;text-align:right;width:30%;padding-right:5px; }
</style>

<script language="javascript">
YAHOO.namespace("suggest_cam");

function init() {
	
	// Define various event handlers for Dialog
	var handleSubmit = function() {
		this.submit();
	};
	var handleCancel = function() {
		this.cancel();
	};
	var handleSuccess = function(o) {
		alert("Thanks for your submission");
	};
	var handleFailure = function(o) {
		alert("Submission failed: " + o.status);
	};

	// Instantiate the Dialog
	YAHOO.suggest_cam.dialog1 = new YAHOO.widget.Dialog("dialog1", 
                                                        { width : "300px",
                                                          fixedcenter : false,
                                                          visible : false,
                                                          draggable : false,
                                                          constraintoviewport : true,
                                                          buttons : [ { text:"Submit", handler:handleSubmit, isDefault:true },
                                                                      { text:"Cancel", handler:handleCancel } ]
                                                         } );
	
	// Validate the entries in the form to require the URL.
	YAHOO.suggest_cam.dialog1.validate = function() {
		var data = this.getData();
		if (data.url == "") {
			alert("Please enter a URL (web address) for the webcam.");
			return false;
		} else {
			return true;
		}
	};

	// Wire up the success and failure handlers
	YAHOO.suggest_cam.dialog1.callback = { success: handleSuccess,
										 failure: handleFailure };
	
	// Render the Dialog
	YAHOO.suggest_cam.dialog1.render();

	YAHOO.util.Event.addListener("suggest", "click", YAHOO.suggest_cam.dialog1.show, YAHOO.suggest_cam.dialog1, true);
}

YAHOO.util.Event.onDOMReady(init);
</script>

<br />
<div>
    <button id="suggest">Suggest Cam</button> 
</div>

<div id="dialog1">
    <div class="hd">Suggest a webcam</div>
    <div class="bd">
        <form method="POST" action="/cam/suggest/">
            <label for="url">URL address:</label><input type="textbox" name="url" />
            <label for="description">Description:</label><textarea id="id_description" name="description" rows="2" cols="40"></textarea>
        </form>
    </div>
</div>


{% endblock content %}