<div id="hd">
    <div class="select-bar">
        <div class="yui-g">
            <div class="yui-u first" id="id-image">
                <form action="." method="post">{% csrf_token %}
                    <select id="id-image" class="selectLink">
                        <option value="">--Select webcam--</option>
                        {% for cam in camlist %}
                        <option value="{{ cam.id }}"{% ifequal cam.id image.id %} selected="selected"{% endifequal %}>
                            {{ cam.title }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>

            <div class="yui-u" id="id-category">
                <form action="." method="post">{% csrf_token %}
                    <select id="id-category" class="selectLink">
                        <option value="">--Select category--</option>
                        {% for cat in catlist %}
                        <option value="{{ cat.id }}"{% ifequal cat category %} selected="selected"{% endifequal %}>
                            {{ cat.title }}
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

function loadSelect(type, args) {
    var t = args[0];
    // do something here, like figure out if this is the category select or image select
    if (t.id === 'id-category') {
        webcam.request_list(t);
    } else if (t.id === 'id-image') {
        webcam.request_image(t);
    } else {
        alert('unknown select');
    }

    // onchange=reDir(this.options[this.selectedIndex].value);
};

selectChange = new YAHOO.util.CustomEvent('select change');
selectChange.subscribe(loadSelect);

function initSelects() {
    YAHOO.util.Event.addListener(this, "change", newSelect);
};

function newSelect(e) {
    var t = YAHOO.util.Event.getTarget(e);

    if (t.selectedIndex != 0) {
        selectChange.fire(t);
        YAHOO.util.Event.preventDefault(e);
    }
};

YAHOO.util.Event.onAvailable('id-category', initSelects);
YAHOO.util.Event.onAvailable('id-image', initSelects);


var webcam = {

    request_list: function(select) {
        // POST a request for new data
        var post_url = '{% url 'cam-list' %}';
        var post_data = 'cat=' + select.value + '&csrfmiddlewaretoken=' + YAHOO.util.Cookie.get("csrftoken");
        var cObj = YAHOO.util.Connect.asyncRequest('POST', post_url, webcam.request_list_callback, post_data);
        Set_Cookie("cam_category", ''+select.value, 7, '/', '', '');
    },

    request_list_callback: {
        success: function(o) {
            // This turns the JSON string into a JavaScript object.
            try {
                var response_obj = YAHOO.lang.JSON.parse(o.responseText);
            }
            catch (e) {
                alert("Invalid server response in webcam.js ["+o.responseText+"], please inform CracklyFinger")
            }

			var image_select = document.getElementById('id-image');
            // remove existing options
            image_select.options.length = 0;
            // Add the image ids
            webcam.add_option(image_select.options, 0, '--Select webcam--')
            objs = response_obj.images;
            for (var i=0; i<objs.length; i++) {
                webcam.add_option(image_select.options, objs[i].id, objs[i].title)
            }
        },

        failure: function(o) {
            var a = 1; // alert('An error has occurred');
        }

    },

    request_image: function(select) {
        // POST a request for new data
        var post_url = '{% url 'cam-image' %}';
        var post_data = 'id=' + select.value + '&csrfmiddlewaretoken=' + YAHOO.util.Cookie.get("csrftoken");
        var cObj = YAHOO.util.Connect.asyncRequest('POST', post_url, webcam.request_image_callback, post_data);
        Set_Cookie("cam_id", ''+select.value, 7, '/', '', '');
    },

    request_image_callback: {
        success: function(o) {
            // This turns the JSON string into a JavaScript object.
            try {
                var response_obj = YAHOO.lang.JSON.parse(o.responseText);
                var image = response_obj.image;
            }
            catch (e) {
                alert("Invalid server response in webcam.js ["+o.responseText+"], please inform CracklyFinger")
            }
            if (response_obj.valid) {
                var el = document.getElementById('cam-image');
                el.alt = image.title;
                el.src = image.url;
                el = document.getElementById('cam-description');
                el.innerHTML = image.title;
            }
        },

        failure: function(o) {
            var a = 1; // alert('An error has occurred');
        }

    },

    add_option: function(sel,id,title) {
        var newElem = document.createElement("option");
        newElem.text = title;
        newElem.value = id;
        sel.add(newElem)
    }
};

</script>