{% extends "cam.html" %}

{% block header %}
{{ block.super }}
<meta name="viewport" content="width=device-width" />

<!--[if !IE]>-->
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="/static/css/small-device.css" type="text/css" >
<link rel="stylesheet" media="screen and (min-device-width: 481px)" href="/static/css/normal-browser.css" type="text/css" >
<!--<![endif]-->    
{% endblock %}

{% block content %}

<script language="javascript">
function reDir(id) {
    if (id == "")
        return false;
    var loc = "/cam/";
    loc = loc.concat(id.toString(), "/");
    window.location=loc;
}
function reCat(id) {
    if (id == "")
        return false;
    var loc = "/cam/?cat=";
    loc = loc.concat(id.toString());
    window.location=loc;
}
</script>

<form id="form0" action="." method="post">
    <div>
        <div class="cam_form_category">
        Categories:
        <select onchange=reCat(this.options[this.selectedIndex].value);>
            {% for cat in catlist %}
                <option value="{{ cat.id }}"{% ifequal cat category %} selected="selected"{% endifequal %}>
                    {{ cat.title }}</option>
            {% endfor %}
        </select>
        </div>
        <select onchange=reDir(this.options[this.selectedIndex].value);>
            {% for cam in camlist %}
                <option value="{{ cam.id }}"{% ifequal cam.id image.id %} selected="selected"{% endifequal %}>
                    {{ cam.title }}</option>
            {% endfor %}
        </select>
    </div>
</form>
<div>
<img alt="{{ image.title }}" src="{{ image.url }}"
</div>
<form id="form2" action="." method="post">
    <select onchange=reDir(this.options[this.selectedIndex].value);>
        {% for cam in camlist %}
            <option value="{{ cam.id }}"{% ifequal cam.id image.id %} selected="selected"{% endifequal %}>
                {{ cam.title }}</option>
        {% endfor %}
    </select>
</form>

{% endblock content %}