{% extends "cam.html" %}

{% block header %}
{{ block.super }}
<meta name="viewport" content="width=device-width" />

<!--[if !IE]>-->
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="/static/css/small-device.css" type="text/css" >
<link rel="stylesheet" media="screen and (min-device-width: 481px)" href="/static/css/normal-browser.css" type="text/css" >
<!--<![endif]-->

<script type="text/javascript" src="http://yui.yahooapis.com/2.4.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.4.0/build/connection/connection-min.js"></script>
<!-- My source -->
<script type="text/javascript" src="/static/js/cam_list.js"></script>

{% endblock %}

{% block content %}

<script language="javascript">
function reDir(id) {
    if (id == "")
        return false;
    var loc = "/cam/";
    loc = loc.concat(id.toString(), "/");
    window.location=loc;
}
function reCat(id) {
    if (id == "")
        return false;
    var loc = "/cam/?cat=";
    loc = loc.concat(id.toString());
    window.location=loc;
}
</script>

<div>
    <div class="cam_form_category">
    <form action="." method="post">
        <select id="id_category">
        {% for cat in catlist %}
            <option value="{{ cat.id }}"{% ifequal cat category %} selected="selected"{% endifequal %}>
                {{ cat.title }}</option>
        {% endfor %}
        </select>
    </form>
    </div>
    <form action="." method="post">
        <select id="id_image" onchange=reDir(this.options[this.selectedIndex].value);>
        {% for cam in camlist %}
            <option value="{{ cam.id }}"{% ifequal cam.id image.id %} selected="selected"{% endifequal %}>
                {{ cam.title }}</option>
        {% endfor %}
        </select>
    </form>
</div>

<div>
<img alt="{{ image.title }}" src="{{ image.url }}"
</div>
{% if image.description %}
{{ image.description }}
{% else %}
{{ image.title }}
{% endif %}

{% endblock content %}