{% extends "base.html" %}

{% block javascript %}
    <!-- Required for YUI Logger -->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/logger/logger-min.js"></script> 
    <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.3.1/build/logger/assets/logger.css"> 
{% endblock %}

{% block section_title %}
Blog
{% endblock %}

{% block footer_mission %}
    The flyingcracker staff is dedicated to providing you with useful information for your daily life. Whether you are interested in weather, cocktails, or local news we'll keep you covered. Have a nice day!
{% endblock %} 