
import os
import site
import sys

site.addsitedir('{{ virtualenv_path }}/lib/python2.7/site-packages')

os.environ['DJANGO_SETTINGS_MODULE'] = '{{ django_settings }}'

activate_this = os.path.expanduser(
    "{{ virtualenv_path }}/bin/activate_this.py")

execfile(activate_this, dict(__file__=activate_this))

workspace = os.path.dirname("{{ django_root }}")
sys.path.append(workspace)

from django.core.wsgi import get_wsgi_application

application = get_wsgi_application()
