<script type="text/javascript">
function new_food(type, args) {
    var food_id = args[0];
    var doneness_id = document.getElementById('doneness-id').value;
    var hardware_id = document.getElementById('hardware-id').value;
    foodRequest(food_id, doneness_id, hardware_id);
};

foodChange = new YAHOO.util.CustomEvent('food change');
foodChange.subscribe(new_food);

function new_doneness(type, args) {
    var doneness_id = args[0]
    var food_id = document.getElementById('food-id').value;
    var hardware_id = document.getElementById('hardware-id').value;
    foodRequest(food_id, doneness_id, hardware_id);
};

donenessChange = new YAHOO.util.CustomEvent('doneness change');
donenessChange.subscribe(new_doneness);

function new_hardware(type, args) {
    var hardware_id = args[0];
    var food_id = document.getElementById('food-id').value;
    var doneness_id = document.getElementById('doneness-id').value;
    foodRequest(food_id, doneness_id, hardware_id);
};

hardwareChange = new YAHOO.util.CustomEvent('hardware change');
hardwareChange.subscribe(new_hardware);

function foodRequest(food_id, doneness_id, hardware_id) {
    var url = "{% url 'grill:grill' %}";
    url += '?food='+food_id;
    url += '&doneness='+doneness_id;
    url += '&hardware='+hardware_id;
    snippet_navigation(url);
};
</script>