{% extends "base.html" %}

{% block body %}

<div class="section-header">
    <div class="section-title">CracklyFinger Sign Up</div>
</div>
<div class="fantasy-form-help">
Create a username for cracklyfinger.com and enter in the field below.<br />
Enter your email address (required to verify your account).<br />
Think up a good password and enter it twice.<br />
Click on Submit and wait for an email from us...
</div>

<div  class="fantasy-list-container">
<form method="POST" action="">

{{ form.as_p }}

<input type="submit" value="Submit" />

</form>
</div>
{% endblock %}
