{% load markup_tags %}

{% if foodstuff %}
<div id="cocktail">
    <div class="yui-b" id="ingredient-title">
        {{ foodstuff }}
    </div>

    <div class="yui-b" id="ingredient-description">
        {% if foodstuff.description %}
        {{ foodstuff.description|apply_markup:"markdown" }}
        {% endif %}
    </div>

    {% if matching_recipes %}
    <strong>Recipes</strong>:
    <ul>
        {% for r in matching_recipes %}
        <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    No recipes use {{ foodstuff }}
    {% endif %}
</div>
{% endif %}