{% load markup_tags %}

{% if recipe %}
<div id="cocktail">
    <div class="yui-b" id="recipe-title">
        {{ recipe.title }}
    </div>
{% for i in ingredients %}
    <div class="yui-gf">
        <div id="ingredient">
            <div class="yui-u first i-qty">{{ i.quantity }}</div>
            <div class="yui-u">
                <span class="i-title"><a href="{% url 'ingredient-detail' slug=i.slug %}">{{ i.title }}</a></span>
                <span class="i-modifier">{{ i.modifier }}</span>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="yui-b" id="recipe-directions">
        {{ recipe.directions|apply_markup:"markdown" }}
    </div>
    {% if recipe.description %}
    <div class="yui-b" id="recipe-description">
        {{ recipe.description|apply_markup:"markdown" }}
    </div>
    {% endif %}
    {% if recipe.credit %}
    <div class="yui-b" id="recipe-credit">
        {{ recipe.credit|apply_markup:"markdown" }}
    </div>
    {% endif %}
</div>
{% endif %}
