#curr_weather, #curr-plots {
    text-align: center;
    width: 422px;
}
#curr_temp {
    font-size: 2.5em;
    height: 160px;
}
#curr-barometer-block, #curr-wind-block, #curr-humidity-block {
    height: 160px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#curr_trend {
    font-size: 2em;
    line-height: 90%;
}
#curr_baro {
    font-size: 2em;
    line-height: 90%;
    padding-top: 0.1em;
}
#curr_wind, #curr_humidity, #curr_windchill{
    font-size: 2em;
    text-align: center;
    line-height: 60%;
    height: 50px;
    padding-top: 26px;
}
#curr_indoor {
    font-size: 2em;
}
.temp-left {
    padding-left: 10px;
}
.temp-right {
    padding-right: 10px;
}
.baro-left {
    padding-left: 15px;
}
.baro-right {
    padding-right: 15px;
}
.weather_title {
    margin-bottom: 10px;
}
.curr_units {
    font-size: 60%;
}
#wind_units {
    font-size: 40%;
}
.warning {
    color: red;
    font-weight: bold;
}
.forecast {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.forecast .section {
    margin-top: 8px;
    margin-bottom: 8px;
}
.forecast .section strong {
    font-weight: bold;
}
.chart_am {
    text-align: right;
    margin-right: 50px;
}
.chart_pm {
    text-align: left;
    margin-left: 50px;
}
