{% extends "fantasy/admin.html" %}
{% load humanize %}

{% block fantasy-main %}
{{ block.super }}
<div class="fantasy-form-help">
Added {{ competitor_list|length|apnumber }} {{ series.competitor_label }}{{ competitor_list|pluralize:",s" }} to {{ series }}.<br />
</div>
<div id="competitor-list-container" class="fantasy-list-container">
    {% if competitor_list %}
    <table id="competitor-list-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ series.competitor_label }}</th>
                <th class="nobg">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for competitor in competitor_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ competitor }}</td>
                <td class="nobg">{% if is_admin %}<a href="{% url 'fantasy-competitor-edit' competitor.pk %}">Edit</a>{% else %}&nbsp;{% endif %}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
<a href="{% url 'fantasy-competitor-list' series.pk %}">{{ series.competitor_label }} list</a>
{% endblock %}

