{% load humanize %}
{% load user_time %}

<style>
.yui-b .yui-g {width:100%;}
</style>

{% with event=wrapper.event %}
{% with series=wrapper.series %}

<div class="section-header">
  <div class="fantasy-guess-deadline">
    {% if is_admin %}
    <input type="button" value="Edit {{ series.event_label|lower }}" onclick="location.href='{% url 'fantasy-event-edit' event.pk %}';" />
    {% endif %}
  </div>
  <div class="section-title">{{ event }}</div>
  {% if event.description %}
  <div class="section-tagline">{{ event.description }}</div>
  {% endif %}
</div>

{% if user.is_authenticated %}
<div class="section-header">
  <hr />
  <div class="fantasy-guess-deadline">
  Guess Deadline<br />
  {% with user|user_time:event.guess_cutoff as cutoff %}
  <span class="date">{{ event.guess_deadline|timeuntil }}<br />{{ cutoff|date:"D N d" }}<br />{{ cutoff|time:"f a" }} {% firstof user.get_profile.timezone "UTC" %}</span>
  {% endwith %}
  </div>
  <div class="fantasy-form-help">
  Pick {{ series.num_guesses|apnumber }} {{ series.competitor_label|lower }}{{ series.num_guesses|pluralize:",s" }} you think will excel in this {{ series.event_label|lower }}.<br />
  You may select {{ series.competitor_label|lower }}s individually or by choosing a team.
  {% if wrapper.add_competitor_ok %}
  {% endif %}
  </div>

  {% if wrapper.late_entry %}
  <div class="late-entry">
  Since you are picking {{ series.competitor_label }}{{ series.num_guesses|pluralize:",s" }} after the deadline,
  once you submit your picks you will not be able to change them. Pick carefully!
  </div>
  {% endif %}

  <div class="yui-g" id="event-guess-container">
    <div class="yui-u first">
      <div class="fantasy-form-container">
      {% if wrapper.formset %}
        <form name="guess-form" method="POST" action="{% url 'fantasy-event-detail' event.pk %}?next={% url 'fantasy-series-home' series.pk %}">{% csrf_token %}
          {{ wrapper.formset.management_form }}
          {% for error in wrapper.formset.non_form_errors %}
          {{ error }}
          {% endfor %}
          <table id="event-guess-table" class="fantasy-select-table">
              <thead>
                  <th>{{ series.competitor_label }}</th>
              </thead>
              <tbody>
              {% for form in wrapper.formset.forms %}
              <tr>
                  <td>{{ form.competitor }} {{ form.competitor.errors }}</td>
                  {% if form.non_field_errors %}<td> {{ form.non_field_errors }}</td>{% endif %}
              </tr>
              {% endfor %}
              </tbody>
          </table>
          {% if wrapper.options_form %}
          <div class="fantasy-pick-options">
          {{ wrapper.options_form.remaining_events }}&nbsp;Save these picks for all upcoming events!
          </div>
          {% endif %}
          <input type="submit" name="guess" value="Submit Picks" />
        </form>
      {% endif %}
      </div>
    </div>
    <div class="yui-u">
      <div class="fantasy-form-container">
      {% if wrapper.team_form %}
        <form name="team-form" method="POST" action="">{% csrf_token %}
          <table id="event-team-guess-table" class="fantasy-select-table">
              <thead>
                  <th>Team</th>
              </thead>
              <tbody>
              <tr>
                  <td>{{ wrapper.team_form.team }}</td>
              </tr>
              </tbody>
          </table>
        </form>
      {% endif %}
      </div>
    </div>
  </div>
  {% if wrapper.add_competitor_ok %}
  <div class="fantasy-form-help">
  Or add a new {{ series.competitor_label }} by entering the name below and clicking on "Add {{ series.competitor_label }}".
  </div>
  <div class="fantasy-form-container">
    <form name="new-competitor-form" method="POST" action="">{% csrf_token %}
    <table class="fantasy-select-table">
      <thead>
        <th>New Driver</th>
      </thead>
      <tbody>
        <tr><td>{{ wrapper.competitor_form.name }}</td></tr>
      </tbody>
    </table>

    <input type="submit" name="guess" value="Add {{ series.competitor_label }}" />
    </form>
  </div>
  {% endif %}
</div>

{% else %} {# not user.authenticated #}

<div class="fantasy-form-container">
<a href="{% url 'registration_register' %}">Sign up</a> to pick your favorite {{ series.competitor_label }}s for this {{ series.event_label }}.
</div>
{% endif %}

<div class="section-header">
  <div  class="fantasy-list-container">
  {% for g in wrapper.guesses %}
    {% if forloop.first %}
    <table class="fantasy-list-table">
      <thead>
        <tr>
          <th>Player</th><th>Guess Time</th>
        </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
          <td>{{ g.player }}</td>
          {% with user|user_time:g.timestamp as timestamp %}
          <td>{{ timestamp|date:"D N d" }} {{ timestamp|time:"f a" }} {% firstof user.get_profile.timezone event.timezone %}</td>
          {% endwith %}
        </tr>
    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
    {% empty %}
    No guesses yet!
  {% endfor %}
  </div>
</div>

<div class="section-header">
  {% if is_admin or event.start_time_elapsed and user.is_authenticated %}
  <input type="button" value="Enter {{ series.event_label|lower }} results" onclick="location.href='{% url 'fantasy-result-edit' event.pk %}';" />
  {% endif %}
</div>

{% endwith %}
{% endwith %}
