{% extends "fantasy/fantasy.html" %}
{% block fantasy-bd %}
<div class="yui-ge">
  <div id="fantasy-main-container" class="yui-u first">
    <div class="main">
    {% block fantasy-main %}
    {% if messages %}
    <div id="message-block">
      <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endblock %}
    </div>
    {% block fantasy-comment %}
    <div id="comment-block">
      {% with series as comment_obj %}
      {% include "comment_block.html" %}
      {% endwith %}
    </div>
    {% endblock fantasy-comment %}
  </div>
  <div id="fantasy-nav-container" class="yui-u">
    <div class="main">
      {% block fantasy-nav %}
      {% include "fantasy/leaders.html" %}
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
