{% extends "fantasy/fantasy.html" %}
{% load user_time %}

{% block fantasy-main %}
{{ block.super }}
<div class="section-header">
  <div class="section-title">{{ series }}</div>
  {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>

<div id="tab-menu" class="yui-navset">
  <ul class="yui-nav">
    {% if current_event %}
    <li class="selected"><a href="#tab-current"><em>{{ current_event.event.short_name }}</em></a></li>
    {% endif %}
    {% if next_event %}
    <li{% if not current_event %} class="selected"{% endif %}><a href="#tab-next"><em>{{ next_event.event.short_name }}</em></a></li>
    {% endif %}
    <li><a href="#tab-all"><em>All {{ series.event_label }}s</em></a></li>
    <li><a href="#tab-messages"><em>Message Board</em></a></li>
    <li{% if not current_event and not next_event %} class="selected"{% endif %}><a href="#tab-leaders"><em>Leaders</em></a></li>
    {% if is_admin %}
    <li><a href="#tab-admin"><em>Admin</em></a></li>
    {% endif %}
  </ul>
  
  <div class="yui-content">
    {% if current_event %}
    <div id="tab-current">
      {% with wrapper=current_event %}
      {% include "fantasy/event_result_snippet.html" %}
      {% endwith %}
    </div>
    {% endif %}
    
    {% if next_event %}
    <div id="tab-next">
      {% with wrapper=next_event %}
      {% include "fantasy/event_guess_snippet.html" %}
      {% endwith %}
    </div>
    {% endif %}
    
    <div id="tab-all">
      {% if event_list %}
      <div id="event-list-container" class="fantasy-list-container">
          <table id="event-list-table" class="fantasy-list-table">
          {% if series.guess_once_per_series %}
          {% include "fantasy/event_list_snippet_1guess.html" %}
          {% else %}
          {% include "fantasy/event_list_snippet.html" %}
          {% endif %}
          </table>
      </div>
      {% else %}
      No {{ series.event_label|lower }}s found.<br />
      {% endif %}
    </div>
    
    <div id="tab-messages">
      {% with series as comment_obj %}
      {% include "comment_block.html" %}
      {% endwith %}
    </div>
    
    <div id="tab-leaders">
      <div class="fantasy-leaders">
      {% include "fantasy/leaders_home.html" %}
      </div>
    </div>
    
    {% if is_admin %}
    <div id="tab-admin">
      <table class="fantasy-list-table">
      <tbody>
        <tr>
          <td><input type="button" value="Add {{ series.event_label }}" onclick="location.href='{% url fantasy-event-add series.pk %}';" /></td>
          <td><input type="button" value="{{ series.competitor_label }} List" onclick="location.href='{% url fantasy-competitor-list series.pk %}';" /></td>
          <td><input type="button" value="Team List" onclick="location.href='{% url fantasy-team-list series.pk %}';" /></td>
          <td><input type="button" value="Edit Series" onclick="location.href='{% url fantasy-series-edit series.pk %}';" /></td>
          <td><input type="button" value="Email Players" onclick="location.href='{% url fantasy-series-email series.pk %}';" /></td>
        </tr>
      </tbody>
      </table>
    </div>
    {% endif %}
    
  </div>
</div>
{% endblock %}
