  <div class="section-header">
    <div class="section-title">{{ series_list_title }}</div>
  </div>

  <table id="series-list-table" class="fantasy-list-table">
    <thead>
      <tr>
        <th>Series</th>
        <th>Description</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
{% for series in series_list %}
      <tr>
        <td><a href="{{ series.get_absolute_url }}">{{ series }}</a></td>
        <td>{{ series.description|truncatewords:10 }}</td>
        <td>
        {% ifequal series.owner user %}{% if series.is_hidden %}HIDDEN {% endif %}<a href="{% url fantasy-series-edit series.pk %}">Edit</a>
        {% else %}[Admin: {{ series.owner }}</a>]
        {% endifequal %}
        </td>
      </tr>
{% endfor %}
    </tbody>
  </table>    
