{% extends "fantasy/series.html" %}

{% block fantasy-main %}
{{ block.super }}
<div class="section-header">
    <div class="section-title">{{ series }}</div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<div class="fantasy-form-help">
</div>
{% include 'fantasy/team_detail_snippet.html' %}
{% if is_admin %}
<a href="{% url fantasy-team-edit team.pk %}">Edit this Team</a>
<a href="{% url fantasy-team-list series.pk %}">Team List</a><br />
{% endif %}
{% endblock %}
