<div id="ft">
    <div class="yui-gb">
        <div class="yui-u first">
            <span class="select-title">Recipes</span>
            <form action="." method="post">{% csrf_token %}
                <select id="id-cocktail" class="selectLink">
                    <option value="">Select a recipe</option>
                    {% for item in recipe_list %}
                    <option value="{% url 'food-recipe-detail' recipe_type=recipe_type slug=item.slug %}">
                        {{ item.title }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="yui-u">
            <span class="select-title">Ingredients</span>
            <form action="." method="post">{% csrf_token %}
                <select id="id-foodstuff" class="selectLink">
                    <option value="">Select an ingredient</option>
                    {% for item in foodstuff_list %}
                    <option value="{% url 'food-ingredient-detail' recipe_type=recipe_type slug=item.slug %}">
                        {{ item.title }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="yui-u">
            <span class="select-title">Categories</span>
            <form action="." method="post">{% csrf_token %}
                <select id="id-category" class="selectLink">
                    <option value="">Select a category</option>
                    {% for item in category_list %}
                    <option value="{% url 'food-category-list' recipe_type=recipe_type slug=item.slug %}">
                        {{ item.title }}
                    </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

function loadSelect(type, args) {
    snippet_navigation (args[0]);
};

selectChange = new YAHOO.util.CustomEvent('select change');
selectChange.subscribe(loadSelect);

function initSelects() {
    YAHOO.util.Event.addListener(this, "change", newSelect);
};

function newSelect(e) {
    var t = YAHOO.util.Event.getTarget(e);

    if (t.selectedIndex != 0) {
        selectChange.fire(t.value);
        YAHOO.util.Event.preventDefault(e);
    }
};

YAHOO.util.Event.onAvailable('id-cocktail', initSelects);
YAHOO.util.Event.onAvailable('id-foodstuff', initSelects);

</script>