{% extends "base.html" %}

{% block extra_title %}Weather{% endblock %}

{% block context_links %}
   <h3 class="select"><span>Links</span></h3>
   <ul class="fcContext">
      {% for link in all_links %}
      <li><a href="{{ link.url }}">{{ link }}</a></li>
      {% endfor %}
   </ul>
{% endblock %}

{% block footer_mission %}
The flyingcracker staff is dedicated to providing you with accurate current weather, quality local forecasts, and skiing and other weather-related links of interest. If you have a suggestion for our weather section please email us: graham at flyingcracker dot com. Enjoy the weather!
{% endblock %}