	
.hide {
	display: none;
}

#container {
	/* nav bar background */
	background: #3F6A87 url("/static/img/context_background.jpg") repeat-y;
	margin: 5px;
	}

#banner {
	/* mountain range */
	background: transparent url("/static/img/gothic_view4.jpg") no-repeat 0px;
	border-bottom: 1px solid #333;
	height: 135px;
	}
#banner div {
	background-image: url("/static/img/FClogo_4.gif"); /* FC logo */
	background-repeat: no-repeat;
	background-position: 37px 20px;
	height: 135px;
	padding-left: 155px;	/* for text */
} 	
#banner h1 {
	color: #000000;
	height: 135px;
	margin: 0;
	font-size: 2em;
	font-weight: bold;
	font-style: italic;
	}

#content {
	/* margin: 10px; */
	padding: 2em;
	border-left: solid 2px gray;

	background-color: #fff;
	/* border: 2px double; */
	/* -moz-border-radius: 20px; */
}
#content p {
	font-size: 1em;
    margin-bottom: 1em;
}

#siteNav {
	background-color: #ccA17A;
	color: #ff0000;
	padding-top: 3px;
	margin: 0 0 0 180px;
	height: 23px;
	font-family: arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	border-bottom:1px solid #000000;
	}
#siteNav ul {
	margin: 0px;
	padding: 0 0 0 1em;
	}
#siteNav li {
	display: inline; 
	list-style-type: none;
	}
#siteNav li a:link, #siteNav li a:visited {
	color: #32281F;
	text-decoration: none;
	font-weight: bold;
	margin: 0;
	padding: 0.2em 1.5ex 0.2em;
	border-bottom: none;
	border-right: 1px solid #ccA17A;
	border-left: 1px solid #ccA17A;
	}
#siteNav li a:hover {
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	}

#nav {
	float: left;
	width: 170px;
	margin-left: 5px;
	}
#nav p {
	margin-top: 0;
	}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav h3.select {
	color: #BDBDBD;
	font-family: arial, sans-serif;
	font-size: 1em; 
	font-weight: bold;
	font-style: normal;
	text-align: right;
	margin: 0;
	padding-top: 10px;
	padding-right: 1.4em;
	padding-bottom: 3px;
}
.fcContext {
	font-family: arial, sans-serif;
	text-align: right;
	color: #60B0E5;
}

.fcContext li {
	position: relative;
	width: 100%;
	font-family: arial, sans-serif;
	font-size: .9em;
	margin: 0;
	padding: 0.1ex 0;
}

.fcContext a {
	display: block;
	padding: 0.25em 0.5em 0.25em 0.2em;
	color: #60B0E5;
	text-decoration: none;
}
.fcContext a:hover {
	color: #ffffff;
	border-color: #69C;
	background-color: #3F6A87;
}

.select-bar {
    margin-bottom: 1em;
}

#menulock {
	display: block;
	text-align: center;
	font-size: 0.8em;
	color: #66C;
	cursor: pointer;
}
#linktitle {
	margin-top: 1em;
	text-align: center;
	color: #999;
	font-size: 0.8em;
}

/* Non-IE menu enhancements...
html>body .fcContext ul {
	top: 1.55em;
	border-top: 3px solid #E8F0FF;
}
html>body .fcContext a.highlighted {
	width: 28em !important;
	text-align: center;
}
*/
	
#rss {
	text-align: right;
	clear: both;
	padding-top: 10px;
	}
#rss a {
	color: #1F3543;
}

.story {
	font-family: Arial, sans-serif;
	}
.story .Box {
	border-bottom: #666666 solid 1px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-bottom: 20px;
}
.story .Home {
	border: #666666 solid 3px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 20px;
}
.story .Header {
	margin: 0px 0px 0px 0px;
}
.story .Title {
	font-size: 1.1em;
	font-weight: bold;
	color: #1F3543;
}
.story .Link {
	float: right;
}
.story .Date {
	font-weight: normal;
	font-size: 0.7em;
	color: #666666;
}
.story .Body {
	font-size: 1em;
	margin: 10px 5px 5px 0px;
}
.story .Body p {
	font-size: 1em;
}
.story .Error {
	border: red solid 3px;
	padding: 20px;
	margin: 20px;
	font-family: Arial, sans-serif;
	font-size: 1.1em;
}
.story .Type {
	font-size: 1.3em;
	font-weight: normal;
	color: #A23C64;
}
.story .Entry {
	font-size: 1.1em;
	font-weight: bold;
	font-style: normal;
	font-family: Arial, sans-serif;
}
.story .Winner {
	font-size: 1.3em;
	font-weight: normal;
	font-style: italic;
	font-family: Arial, sans-serif;
	color: #A23C64;
	margin: 20px 20px 20px 20px;
}
.story .Down {
	font-size: 1.3em;
	font-weight: normal;
	font-family: Arial, sans-serif;
	color: cyan;
	margin: 20px 20px 20px 20px;
	text-align: center;
}

.cbnewsheadline {
	font-size: 1.1em;
	font-weight: bold;
	font-style: normal;
	font-family: Arial, sans-serif;
	margin-top: 1em;
}
.cbnewspubdate {
	font-weight: normal;
	font-size: 0.7em;
	color: #666666;
}
.cbnewsteaser {
	font-size: 1em;
}

.conditions {
	margin-bottom: 1.5em;
}
.conditions .Route {
	font-size: 1.1em;
	font-weight: bold;
	color: #1F3543;
}
.conditions .lastUpdated {
	font-size: 0.6em;
	float: right;
	font-weight: normal;
}
.conditions .Item {
	margin: 0px 0px 0px 0px;
}
.conditions .Date {
	float: right;
	font-weight: normal;
	font-size: 0.7em;
	color: #666666;
}
.conditions .Area {
	font-size: 1em;
	margin-left: 10px;
}
.conditions .Condition {
	font-size: 1em;
	font-weight: normal;
}
.conditions .cdata {
	border: 1px solid #000;
	clear: none;
}

td.contentRoad{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	vertical-align : top;
	border-bottom: thin solid #666699;
}
th.contentHead{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	background: #1F3543;
	color : #FFFFFF;
	height : 20px;
}

.flows {
	margin-bottom: 1.5em;
}
.flows .Drainage {
	font-size: 1.1em;
	font-weight: bold;
	color: #1F3543;
}
.flows .cdata {
	border: 1px solid #000;
	clear: none;
}
td.siteFlow{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	vertical-align : top;
	border-bottom: thin solid #666699;
	text-align: right;
	padding-right: 5px;
	background-color: cyan;
	width: 7%;
}
td.siteDesc{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	vertical-align : top;
	border-bottom: thin solid #666699;
}
td.siteTemp{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	vertical-align : top;
	border-bottom: thin solid #666699;
	text-align: center;
	width: 7%;
}
td.siteTime{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	vertical-align : top;
	border-bottom: thin solid #666699;
	text-align: center;
	width: 7%;
}
th.flowHead{
	font-family : Arial, Helvetica, Verdana;
	font-size : 10pt;
	background: #1F3543;
	color : #FFFFFF;
	height : 20px;
}

.box {
	border-bottom: #666666 solid 1px;
	margin-bottom: 20px;
	/* margin-left: 20px; */
	padding-bottom: 20px;
}

.weatherItem {
	font-family: Arial, sans-serif;
	font-size: 116%;
	}
.weatherItem > .header {
	margin: 0px 0px 0px 0px;
}
.weatherItem .link {
	float: right;
}
.weatherItem > .header > .title {
	font-size: 1.1em;
	font-weight: bold;
	color: #1F3543;
}
.weatherItem > .header > .date {
	font-weight: normal;
	font-size: 0.7em;
	color: #666666;
}
.weatherItem .body {
	font-size: 1em;
	margin: 4px 5px 0px 0px;
}
.weatherItem .body p {
	font-size: 1em;
}

.forecast .warning {
	font-size: 1.0em;
	font-weight: bold;
	margin: 5px 0px 5px 0px;
	color: red;
}
.forecast .title {
	font-size: 0.9em;
	margin: 2px 0px 0px 0px;
	font-weight: bold;
}
.forecast .section {
    margin-top: 15px;
}
.forecast .body {
	margin-left: 10px;
}
.forecast .area {
	font-size: 0.8em;
	margin-left: 20px;
	font-style: italic;
}

.top1, .bottom1 {
    background-color: lightBlue;
}
.top1 {
    padding-top: 6px;
    padding-left: 10px;
    font-size: 150%;
	height: 32px;
}
.bottom1 {
	padding: 8px 10px 4px 10px;
	height: 48px;
}
.top1 .subtitle {
    font-size: 75%;
}
.left1 {
}
#main-menu {
}
#newsblog {
    padding-left: 5px;
}
#newsblog .title {
    font-size: 116%;
    font-weight: bold;
}
#newsblog .post {
    margin-top: 15px;
}
#newsblog .post .date {
    color: #1F3543;
}
#newsblog .post .body {
    font-size: 100%;
}

.currweatherTable {
    border: none;
}
.currweatherTable td {
    padding: 5px;
}
.currweatherHead {
	font-size: 1em;
	font-weight: normal;
	text-align: right;
}
.currweatherMajorItem {
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
}
.currweatherMinorItem {
	font-size: 0.9em;
	font-weight: normal;
	text-align: left;
}
.currweatherAlarm {
	font-size: 1.1em;
	font-weight: bold;
	text-align: left;
	color: red;
}

.weatherNews {
	font-family: georgia, "times new roman", times, serif;
	}
.weatherNews .Box {
	padding-top: 5px;
	margin-bottom: 10px;
}
.weatherNews .Header {
	color: black;
	margin-bottom: 10px;
}
.weatherNews .Title {
	font-size: 1em;
	font-weight: bold;
	color: black;
}
.weatherNews .Link {
	float: right;
}
.weatherNews .Item {
	padding-top: 5px;
	padding-bottom: 5px;
}
.weatherNews .Date {
	font-weight: normal;
	font-size: 0.9em;
	color: #666666;
	margin-right: 8px;
	float: left;
}
.weatherNews .Body {
/*	position: float; */
	margin: 0px 0px 0px 90px;
	font-size: 1em;
}
.weatherNews .Body p {
	font-size: 1em;
}

.cocktail {
	font-family: arial, sans-serif;
	font-size: 1em;
	}
.cocktail .box {
	margin-bottom: 10px;
	margin-left: 20px;
	padding-bottom: 10px;
}
.cocktail .header {
	color: #1F3543;
	margin: 0px 0px 0px 0px;
}
.cocktail .title {
	font-size: 1.5em;
	font-weight: bold;
}
.cocktail .ingredient {
	padding-top: 5px;
	}
.cocktail .qty {
	font-size: .9em;
	}
.cocktail .name {
	padding-left: 10px;
	font-weight: bold;
	}
.cocktail .modifier {
	padding-left: 15px;
	}
.cocktail .directions {
	padding-top: 25px;
	}
.cocktail .description {
	padding-top: 25px;
	}
.cocktail .description p {
	margin:0;
}
.cocktail .directions p {
	margin:0;
}
.cocktail .credit {
	padding-top: 15px;
}
.cocktail .credit p {
		color: #8F3543;
}
.cocktail .pubdate {
	padding-top: 10px;
	font-size: 0.8em;
	}
.cocktail td a:link {
	font-size: 1em;
	text-decoration: none;
}
.cocktail td a:visited {
	text-decoration: none;
}
.cocktail .select-title {
	font-size: 120%;
	margin-left: 0.25em;
}
	
.cooktime {
	font-family: arial, sans-serif;
	font-size: 1em;
	}
.cooktime .box {
	padding-top: 5px;
	border-top: #666666 solid 1px;
	margin-bottom: 30px;
}
.cooktime .table {
	padding-top: 5px;
	padding-left: 20px;
}
.cooktime .header {
	color: black;
	margin: 0px 0px 0px 0px;
}
.cooktime .type {
	font-size: 1.3em;
	font-weight: normal;
	color: #1F3543;
	text-align: left;
}
.cooktime .title {
	font-size: 1em;
	font-weight: bold;
	padding-left: 20px;
	text-align: left;
}
.cooktime .directions {
	font-size: 0.9em;
	font-weight: normal;
	margin: 10px;
	text-align: left;
}
.cooktime .item {
	padding-top: 5px;
	padding-left: 20px;
	}

.list {
	}
.list .Box {
	padding: 10px;
	}
.list .Title {
	font-size: 1em;
	font-weight: normal;
	font-family: arial, sans-serif;
	}
.list .Date {
	font-size: .7em;
	font-weight: normal;
	}

#footer {
	background-color: #84603E;
	font-family: Arial, sans-serif;
	clear: both;
	padding: 1em;
	border-top: 1px solid #333;
}
#footer .right {
	text-align: center;
	line-height: 1.45em;
	float: right;
}
#footer .right a:link {
	color: #0000EE;
	text-decoration: underline;
	font-weight: normal;
}
#footer .catchphrase {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	margin-bottom: 1em;
	color: #32281F;
}
#footer .banner {
	width: 60%;
	margin-left: 5px;
	font-size: 1em;
}
#footer .mission {
	text-align: left;
}
#footer .title {
	font-weight: bold;
	font-style: italic;
	margin-bottom: 0.5em;
	color: white;
}
#footer .body {
	margin-top: 0;
	text-align: left;
	color: white;
}


.gd {
	font-family: arial, sans-serif;
}

.gd .body,alignelement {
	background-color: #ffffff;
	text-align: center;
	font-size: 9pt;
}
.gd .title {
	font-weight:bold;
	font-size: 13pt;
}	
.gd .a {
	color: #990033;
	font-size: 9pt;
}
.gd .a:hover {
	color: #000000;
}
.gd .fielddesc,td,p {
	color: #000000;
	font-size: 9pt;
}
.gd .fielddesc {
	text-align:right;
	vertical-align:middle;
	font-weight:bold;
}
.gd .header {
	color: #000000;
	background-color: #dbdbdb;
	font-size: 12pt;
	font-weight: bold;
}
.gd .tableinfo {
	border-color: #a7a7a7;
	border-width: 2px;
	border-style: dashed;
}
.gd .inputfield {
		font-family: arial, sans-serif;
		font-size: 9pt;
}
.gd .errorfield {
	width: 500px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: dashed;
	border-width:2px;
	color: #DF0000;
	background-color: #FFE6E6;
	font-family: arial, sans-serif;
	font-size: 10pt;
	line-height: 12pt;
}
	
.gd .successfield {
	width: 500px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-style: dashed;
	border-width: 2px;
	color: #336699;
	background-color: #D1E0EF;
	font-family: arial, sans-serif;
	font-size: 10pt;
	line-height: 12pt;
}
.gd .sectiondesc {
	font-weight: bold;
	vertical-align: middle;
}
.gd .secondarybutton {
	border-width: 1px;
	border-color: #DCAB87;
	background-color: #F1C6A6;
	font-family: arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
}
.gd .mainbutton {
	border-width: 1px;
	border-color: #5F8EBD;
	background-color: #A5C9ED;
	font-family: arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;	
}	

/* My Preferences section */
.myfclayoutorganization {
	background-color:#fff;
	border:1px solid #bfbfbf;
	margin:0 10px 25px 10px;
	width:570px;
	height:200px;
}
.myfclayoutorganization #sectioncol {
	background-color:#ebebeb;
	width:28%;
	padding:5px 0 8px 0px;
}

.myfclayoutorganization .ygbtdup {
	background: url(../Images/button_up.gif);
	width:21px;
	height:21px;
}
.myfclayoutorganization .ygbtddown {
	background: url(../Images/button_down.gif);
	width:21px;
	height:21px;
}
.myfclayoutorganization .ygbtdleft {
	background: url(../Images/button_left.gif);
	width:21px;
	height:21px;
}
.myfclayoutorganization .ygbtdright {
	background: url(../Images/button_right.gif);
	width:21px;
	height:21px;
}

.myfclayoutorganization h6 {
	font-family:verdana,sans-serif; font-size:0.9em;
	}
.myfclayoutorganization .vertcol table tr td button {
	margin-bottom:5px;
	}
.myfclayoutorganization #sectioncol .vertcol {
	float:right;
	width: 22px;
	height:105px;
	padding-left:20px;
	margin:0 9px 0 0; }/*\*/
.myfclayoutorganization #sectioncol .vertcol {
	margin:0 14px 0 0; }/**/
	
.myfclayoutorganization #sectioncol select {
	width:200px;
	height:180px;
	border:2px inset #fff;
	margin-top:-10px;
	padding:2px; }

.myfclayoutorganization #sectioncol .movecolright {
	display:block;
	float:left;
	width:85px;
	height:30px;
	padding-left: 0px;
	margin:9px 0 0 30px;
	text-align:left; }/*\*/
.myfclayoutorganization #sectioncol .movecolright {
	margin:10px 0 0 12px; }/**/
	
.myfclayoutorganization #sectioncol .movecolleft {
	display:block;
	float:left;
	padding-left:10px;
	width:60px;
	height:30px;
	margin:9px 0 0 30px; }/*\*/
.myfclayoutorganization #sectioncol .movecolleft {
	margin:10px 0 0 12px; }/**/

.ym2c {
	position:relative;
	left:4em;
	}
.ym2nv {
	position:relative;
	right:3em;
	}
.ym2wv {
	position:relative;
	right:3em;
	}
#radar-bkgrnd {
	height:587px;
	width:618px;
	position:relative;
	left:14px;
	top:0px;
	}	
#radar-basemap, #radar-image0, #radar-image1, #radar-image2, #radar-image3, #radar-image4, #radar-image5, #radar-image6, #radar-image7, #radar-image8, #radar-image9 {
	position:absolute;
	left:9px;
	top:9px;
	}
	
#radar-basemap img, #radar-image0 img, #radar-image1 img, #radar-image2 img, #radar-image3 img, #radar-image4 img, #radar-image5 img, #radar-image6 img, #radar-image7 img, #radar-image8 img, #radar-image img9 {
	border-style:none;
	}

.cap {
	float: left;
	font-size: 4em;
	font-weight: normal;
	width: 0.8em;
	height:0.7em;
	line-height: 1em;
	color : #1F3453;
}
.elapsed {
	font-size: 60%;
}
.field-error {
    color: red;
    font-weight: bold;
}