{% extends "base.html" %}

{% block body %}
Please log in to {{ system_name }}:
<br />
<br />
{% if form.errors %}
<p>Your username and password didn't match. Please try again.<br />
(Note: If you are not registered at {{ system_name }} you should <a href="{% url 'registration_register' %}">Sign up</a>.)
{% endif %}

<form method="post" action=".">{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>
<br />
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<br />
Not a member of {{ system_name }}?  <a href="{% url 'registration_register' %}">Sign up</a> (it's fast and free!)
<br />
<br />
Forgot your password?  <a href="{% url 'auth_password_reset' %}">Click here</a>
<br />
<br />
(Note: You must be a member of {{ system_name }} to participate in Fantasy Races.)
{% endblock %}
