{% extends "base.html" %}

{% block extra_title %}WebCams{% endblock %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>FC3 Cams</title>
    
<!-- <link rel="stylesheet" type="text/css" href="{% block stylesheet %}http://yui.yahooapis.com/{{ yui_version }}/build/reset-fonts-grids/reset-fonts-grids.css{% endblock %}"> -->

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/{{ yui_version }}/build/fonts/fonts-min.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/{{ yui_version }}/build/base/base-min.css">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/{{ yui_version }}/build/assets/skins/sam/skin.css">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/utilities/utilities.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/container/container-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/menu/menu-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/button/button-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/connection/connection-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/{{ yui_version }}/build/json/json-min.js"></script>
{% endblock %}

{% block extrahead %}{% endblock %}

<link rel="apple-touch-icon" href="/static/img/cam-icon.png" />

</head>

<body class=" yui-skin-sam">
    
<div id="content">
{% block content %}
body
{% endblock content %}
</div> <!-- content -->

</body>

</html>

