{% extends "base.html" %}

{% block body %}
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>
<p>{{ series.athlete_label }} "{{ athlete }}" has a result in the following rac{{ result_list|pluralize:"e,es" }} and therefore cannot be deleted.
Remove {{ athlete }} from the results for {{ result_list|pluralize:"this race,these races" }} and try again.</p>
<ul>
{% for result in result_list %}
    <li>
        #{{ result.place }} in <a href="{{ result.race.get_absolute_url }}">{{ result.race }}</a>, picked by {{ result.guessers|join:", " }}
    </li>
{% endfor %}
</ul>
<br />
<a href="{% url fantasy-athlete-list series.pk %}">Athlete list</a>
{% endblock %}
