{% extends "base.html" %}

{% block body %}
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>
<h2>{% if athlete.pk %}Edit {{ athlete }}{% else %}Add Athlete{% endif %}</h2>

<form method="POST" action="">
<table>
{{ athlete_form.as_table }}
{% if athlete.pk %}
<tr><td><a href="{% url fantasy-athlete-delete athlete.pk %}">Delete</a></td></tr>
{% endif %}
</table>

<input type="submit" value="Submit" />

</form>
<a href="{% url fantasy-athlete-list series.pk %}">Athlete list</a>
{% endblock %}
