{% extends "fantasy-admin.html" %}
{% load uni_form_tags %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title"><a href="{{ series.get_absolute_url }}">{{ series }}</a><span class="action-title">&nbsp;&nbsp;~&nbsp;&nbsp;{% if competitor.pk %}Edit{% else %}Add{% endif %} {{ series.competitor_label }}</span></div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<div class="fantasy-form-help">
    {% if not competitor.pk %}Enter a new {{ series.competitor_label|lower }} for this series.<br />
    {% endif %}
    The {{ series.competitor_label }} name must be unique within the series.
</div>
<div class="fantasy-form-container">
    <form method="POST" action="" class="uniForm">{% csrf_token %}
        {{ competitor_form|as_uni_form }}
        {% if team_form %}
        {{ team_form|as_uni_form }}
        {% endif %}
        <input type="submit" value="Submit" />
    </form>
</div>
{% if is_admin and competitor.pk %}<br /><a href="{% url fantasy-competitor-delete competitor.pk %}">Delete this {{ series.competitor_label }}</a> (from {{ series }}){% endif %}
{% if is_admin %}<br /><a href="{% url fantasy-competitor-list series.pk %}">{{ series.competitor_label }} list</a>{% endif %}
{% endblock %}
