{% extends "fantasy.html" %}
{% load humanize %}

{% block fantasy-main %}
<h1>Delete {{ series.competitor_label|capfirst }}</h1>
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>
<div class="fantasy-form-help">
    {{ series.competitor_label }} "{{ competitor }}" has a result in {{ result_list|length|apnumber }} {{ series.event_label|lower }}{{ result_list|pluralize:",s" }} and therefore cannot be deleted.<br />
    Remove {{ competitor }} from the results for {{ result_list|pluralize:"this,these" }} {{ series.event_label|lower }}{{ result_list|pluralize:",s" }} and try again.
</div>
<h3>Results for {{ competitor }}</h3>
<div class="fantasy-list-container">
    <ul>
    {% for result in result_list %}
        <li>
            #{{ result.result }} in <a href="{{ result.event.get_absolute_url }}">{{ result.event }}</a>{% with result.guessers as guessers %}{% if guessers %}, picked by {{ result.guessers|join:", " }}{% endif %}{% endwith %}
        </li>
    {% endfor %}
    </ul>
</div>
<br />
<a href="{% url fantasy-competitor-list series.pk %}">{{ series.competitor_label }} list</a>
{% endblock %}
