{% extends "fantasy-admin.html" %}
{% load uni_form_tags %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title"><a href="{{ series.get_absolute_url }}">{{ series }}</a></div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<div class="fantasy-form-help">The following {{ series.competitor_label }}s are available for this series.<br />
To add a new {{ series.competitor_label }}, enter a name and click the "Add {{ series.competitor_label }}" button, or <a href="{% url fantasy-competitor-import series.pk %}">Import {{ series.competitor_label }}s</a> from other Series.</div>
{% if is_admin %}
<div class="fantasy-form-container">
    <form method="POST" action="" class="uniForm">{% csrf_token %}
        {{ competitor_form|as_uni_form }}
        <input type="submit" value="Add {{ series.competitor_label }}" />
    </form>
</div>
{% endif %}
<div id="competitor-list-container" class="fantasy-list-container">
    <table id="competitor-list-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ series.competitor_label }}</th>
                <th>Team</th>
                <th class="nobg">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for competitor in competitor_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ competitor }}</td>
                <td>{{ competitor.team.short }}</td>
                <td class="nobg">{% if is_admin %}<a href="{% url fantasy-competitor-edit competitor.pk %}">Edit</a>{% else %}&nbsp;{% endif %}</td>
            </tr>
{% empty %}
            <tr>
                <td>&nbsp;</td>
                <td>No {{ series.competitor_label }}s for {{ series }} in database</td>
                <td class="nobg">&nbsp;</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% if is_admin %}
<a href="{% url fantasy-team-list series.pk %}">Team List</a><br />
{% endif %}
{% endblock %}
