{% extends "fantasy-series.html" %}
{% load humanize %}
{% load user_time %}

{% block javascript %}
{{ block.super }}
<script src="{{ MEDIA_URL }}js/form_scripts/event_guess.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
.yui-b .yui-g {width:100%;}
</style>
{% endblock %}

{% block fantasy-backlink %}<a href="{{ series.get_absolute_url }}">{{ series }}</a>{% endblock %}

{% block fantasy-main %}
{{ block.super }}
{% if not event.guess_deadline_elapsed %}
<div class="fantasy-guess-deadline">
Guess Deadline<br />{% with user|user_time:event.guess_cutoff as cutoff %}
                <span class="date">{{ cutoff|date:"D F d" }}, {{ cutoff|time:"f a" }} {% firstof user.get_profile.timezone "UTC" %}</span>
                {% endwith %}
</div>
{% endif %}
<div class="section-header">
    <div class="section-title">{{ event }}</div>
    {% if event.description %}<div class="section-tagline">{{ event.description }}</div>{% endif %}
</div>
{% if user.is_authenticated %}
<hr />
<div class="fantasy-form-help">
Pick {{ series.num_guesses|apnumber }} {{ series.competitor_label|lower }}{{ series.num_guesses|pluralize:",s" }} you think will excel in this {{ series.event_label|lower }}.<br />
You may select {{ series.competitor_label|lower }}s individually or by choosing a team.
{% if add_competitor_ok %}
{% endif %}
</div>
{% if late_entry %}
<div class="late-entry">
Since you are picking {{ series.competitor_label }}{{ series.num_guesses|pluralize:",s" }} after the deadline,
once you submit your picks you will not be able to change them. Pick carefully!
</div>
{% endif %}
<div class="yui-g" id="event-guess-container">
  <div class="yui-u first">
    <div class="fantasy-form-container">
    {% if formset %}
      <form name="guess-form" method="POST" action="">{% csrf_token %}
        {{ formset.management_form }}
        {% for error in formset.non_form_errors %}
        {{ error }}
        {% endfor %}
        <table id="event-guess-table" class="fantasy-select-table">
            <thead>
                <th>{{ series.competitor_label }}</th>
            </thead>
            <tbody>
            {% for form in formset.forms %}
            <tr>
                <td>{{ form.competitor }} {{ form.competitor.errors }}</td>
                {% if form.non_field_errors %}<td> {{ form.non_field_errors }}</td>{% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <input type="submit" name="guess" value="Submit Picks" />
      </form>
    {% endif %}
    </div>
  </div>
  <div class="yui-u">
    <div class="fantasy-form-container">
    {% if team_form %}
      <form name="team-form" method="POST" action="">{% csrf_token %}
        <table id="event-team-guess-table" class="fantasy-select-table">
            <thead>
                <th>Team</th>
            </thead>
            <tbody>
            <tr>
                <td>{{ team_form.team }}</td>
            </tr>
            </tbody>
        </table>
      </form>
    {% endif %}
    </div>
  </div>
</div>
{% if add_competitor_ok %}
<div class="fantasy-form-help">
Or add a new {{ series.competitor_label }} by entering the name below and clicking on "Add {{ series.competitor_label }}".
</div>
<div class="fantasy-form-container">
  <form name="new-competitor-form" method="POST" action="">{% csrf_token %}
  <table class="fantasy-select-table">
    <thead>
      <th>New Driver</th>
    </thead>
    <tbody>
      <tr><td>{{ competitor_form.name }}</td></tr>
    </tbody>
  </table>
    
  <input type="submit" name="guess" value="Add {{ series.competitor_label }}" />
  </form>
</div>
{% endif %}

{% else %}
<div class="fantasy-form-container">
Sign up to pick your favorite {{ series.competitor_label }}s for this {{ series.event_label }}.
</div>
{% endif %}
<div  class="fantasy-list-container">
    {% for g in guesses %}
    {% if forloop.first %}
    <table class="fantasy-list-table">
      <thead>
        <tr>
          <th>Player</th><th>Guess Time</th>
        </tr>
      </thead>
      <tbody>
    {% endif %}
        <tr>
          <td>{{ g.player }}</td>
          {% with user|user_time:g.timestamp as timestamp %}
          <td>{{ timestamp|date:"D F d" }} {{ timestamp|time:"f a" }} {% firstof user.get_profile.timezone event.timezone %}</td>
          {% endwith %}
        </tr>
    {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
    {% empty %}
    No guesses yet!
    {% endfor %}
    <br />
    {% if is_admin or event.start_time_elapsed %}
    <a href="{% url fantasy-result-edit event.pk %}">Edit {{ series.event_label|lower }} results</a><br />
    {% endif %}
    {% if is_admin %}
    <a href="{% url fantasy-event-edit event.pk %}">Edit {{ series.event_label|lower }}</a><br />
    <a href="{% url fantasy-series-email series.pk %}">Email guessers in this Series</a>
    {% endif %}

</div>
{% endblock %}
