{% extends "fantasy-series.html" %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title">{{ series }}</div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<div class="fantasy-form-help">
Click on a {{ series.event_label|lower }} to enter your picks or see results.<br />
</div>
{% if event_list %}
<div id="event-list-container" class="fantasy-list-container">
    <table id="event-list-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ series.event_label }}</th>
                <th>My Guess{{ series.num_guesses|pluralize:",es" }}</th>
                <th>Start</th>
                <th>Guess Cutoff</th>
                <th class="nobg">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for r in event_list %}
            <tr class="{{ r.row_class }}">
                <td>{{ forloop.counter }}.</td>
                <td><a href="{{ r.event.get_absolute_url }}">{{ r.event }}</a><br />{{ r.event.description }}</td>
                <td>{% if r.guesses %}{{ r.guesses|join:"<br />" }}{% else %}?{% endif %}</td>
                <td>{{ r.event.start_date|date:"D F d" }}<br />{{ r.event.start_time|time:"f a" }} UTC</td>
                <td>{{ r.event.guess_cutoff|date:"D F d" }}<br />{{ r.event.guess_cutoff|time:"f a" }} UTC</td>
                <td class="nobg">{% if is_admin %}<a href="{% url fantasy-event-edit r.event.pk %}">Edit {{ series.event_label|lower }}</a>{% endif %}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
No {{ series.event_label|lower }}s found.<br />
{% endif %}
{% if is_admin %}
<a href="{% url fantasy-event-add series.pk %}">Add {{ series.event_label }} to Series</a><br />
<a href="{% url fantasy-competitor-list series.pk %}">{{ series.competitor_label }} List</a><br />
<a href="{% url fantasy-team-list series.pk %}">Team List</a><br />
<a href="{% url fantasy-series-edit series.pk %}">Edit this Series</a><br />
<a href="{% url fantasy-series-email series.pk %}">Email guessers in this Series</a>
{% endif %}
{% endblock %}
