{% extends "fantasy-series.html" %}
{% load humanize %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title">{{ event }} - <a href="{{ series.get_absolute_url }}">{{ series }}</a></div>
    {% if event.description %}<div class="section-tagline">{{ event.description }}</div>{% endif %}
</div>
{% if user.is_authenticated %}
{% if not event.guess_deadline_elapsed %}
<div class="fantasy-guess-deadline">
Guess Deadline: {{ event.guess_cutoff|date:"D F d" }} {{ event.guess_cutoff|time:"f a" }} UTC
</div>
{% endif %}
<div class="fantasy-form-help">
Pick {{ series.num_guesses|apnumber }} {{ series.competitor_label }}{{ series.num_guesses|pluralize:",s" }} you think will excel in this {{ series.event_label|lower }}.<br />
{% if add_competitor_ok %}
To add a new {{ series.competitor_label }}, enter a name and click the "Add {{ series.competitor_label }}" button.
{% endif %}
</div>
<div id="event-guess-container" class="fantasy-form-container">
    <form name="guess-form" method="POST" action="">
    {% if formset %}
        {{ formset.management_form }}
        {% for error in formset.non_form_errors %}
        {{ error }}
        {% endfor %}
        <table id="event-guess-table" class="fantasy-list-table">
            <thead>
                <th>{{ series.competitor_label }}</th>
            </thead>
            <tbody>
            {% for form in formset.forms %}
            <tr>
                <td>{{ form.competitor }} {{ form.competitor.errors }}</td>
                {% if form.non_field_errors %}<td> {{ form.non_field_errors }}</td>{% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    <input type="submit" name="guess" value="Submit Picks" />

{% if add_competitor_ok %}
<br /><br />
or
<br /><br />
To add a new {{ series.competitor_label }} enter the name below and click the "Add {{ series.competitor_label }}" button.
    <table>
    {{ competitor_form.as_table }}
    </table>
    
    <input type="submit" name="guess" value="Add {{ series.competitor_label }}" />
{% endif %}
    
    </form>
</div>
{% else %}
<div class="fantasy-form-container">
Sign up to pick your favorite {{ series.competitor_label }}s for this {{ series.event_label }}.
</div>
{% endif %}
<div  class="fantasy-list-container">
    {% if guessers %}
    <h2>Fans with picks in this {{ series.event_label }}</h2>
    <ul>
    {% for fan in guessers %}
    <li>{{ fan }}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% if is_admin %}
    <br />
    <a href="{% url fantasy-event-edit event.pk %}">Edit {{ series.event_label|lower }}</a><br />
{% endif %}
    {% if is_admin or event.start_time_elapsed %}
    <br />
<a href="{% url fantasy-result-edit event.pk %}">Edit {{ series.event_label|lower }} results</a><br />
    {% endif %}
</div>
{% endblock %}
