        <div id="fantasy-top-ten" class="fantasy-nav-item">
            <div class="series-title"><a href="{{ series.get_absolute_url }}">{{ series }}</a>
                <div class="subhead">Top Ten Players</div>
            </div>
            
            <div class="body">
            {% if points_list %}
            <table class="fantasy-list-table">
            {% for p in points_list %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ p.name }}</td>
                    <td class="center">{{ p.points }}</td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            No leaders yet!
            {% endif %}
            </div>
            {% if series.pk %}<a href="{% url fantasy-series-leaderboard series.pk %}">Complete Series Standings</a>{% endif %}
        </div>
