        <div id="fantasy-top-ten" class="fantasy-nav-item">
            <div class="series-title"><a href="{{ series.get_absolute_url }}">{{ series }}</a></div>
            <div class="title">Series Top Ten</div>
            <div class="body">
            {% if points_list %}
            <ul>
            {% for p in points_list %}
                <li>{{ forloop.counter }}. {{ p.name }} - {{ p.points }}</li>
            {% endfor %}
            </ul>
            {% else %}
            No leaders yet!
            {% endif %}
            </div>
            <a href="{% url fantasy-series-leaderboard series.pk %}">Leaderboard</a>
        </div>
