{% extends "fantasy.html" %}
{% load humanize %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title"><a href="{{ series.get_absolute_url }}">{{ series }}</a></div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<h2>Leaderboard</h2>
<div id="leaderboard-container" class="fantasy-list-container">
{% if points_list %}
    
    <table id="leaderboard-events-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th colspan={{ points_list.0.event_points|length }}>{{ series.event_label }} points</th>
            </tr>
            <tr>
                <th></th>
                <th>Player</th>
                <th>Total<br />Points</th>
{% for p in points_list.0.event_points %}
                <th><a href="{{ p.key.get_absolute_url }}"><span class="event-header">{{ forloop.counter }}</span></a></th>
{% endfor %}
            </tr>
        </thead>
        <tbody>
{% for u in points_list %}
{% if not u.late %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ u.name }}</td>
                <td>{{ u.points }}</td>
{% for p in u.event_points %}
                <td class="event-points">{{ p.val }}</td>
{% endfor %}
            </tr>
{% endif %}            
{% endfor %}

            <tr></tr>
            
{% for u in points_list %}
{% if u.late %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ u.name }}&nbsp;*</td>
                <td>{{ u.points }}</td>
{% for p in u.event_points %}
                <td class="event-points">{{ p.val }}</td>
{% endfor %}
            </tr>
{% endif %}
{% endfor %}

        </tbody>
    </table>
    <p>*&nbsp;<span class="late-entry">{{ series.late_entry_footnote }}</span></p>

    <div id="chart_div">
    </div>
    <div class="chart-help">
        Click on the colored square next to each player to highlight their line in the chart above.
    </div>
    <table id="leaderboard-places-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th></th>
                <th colspan={{ scoresys_results|length }}># picks for each place</th>
            </tr>
            <tr>
                <th>Player</th>
{% for place in scoresys_results %}
                <th>{{ place|ordinal }}</th>
{% endfor %}
            </tr>
        </thead>
        <tbody>
{% for u in points_list %}
            <tr>
                <td>{{ u.name }}</td>
{% for p in u.place_totals %}
                <td class="event-points">{{ p.val }}</td>
{% endfor %}
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
No leaders yet!<br /><br />
<h2>Guessers in this Series</h2>
<ul>
{% for u in user_list %}
    <li>{{ u.user }}</li>
{% endfor %}
</ul>
{% endif %}
</div>
<div id="comment-block">
{% with series as comment_obj %}
{% include "comment_block.html" %}
{% endwith %}
</div>

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["linechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Event');
    /* Add users */
    {% for u in points_list %}
    data.addColumn('number', '{{ u.name }}');
    {% endfor %}
    
    /* Add the total number of events */
    data.addRows({{ points_list.0.event_points|length }});
    
    /* Add all events */
    {% for p in points_list.0.event_points %}
    data.setValue({{ forloop.counter0 }}, 0, '{{ forloop.counter }}');
    {% endfor %}
    
    /* data.setValue(event_idx, user_idx, val) */
    {% for u in points_list %}
        {% for p in u.cumulative_points %}
    data.setValue({{ forloop.counter0 }}, {{ forloop.parentloop.counter }}, {{ p }});
        {% endfor %}
    {% endfor %}

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 800, height: 400, min:0, legend: 'bottom', titleX: '{{ series.event_label|capfirst }}s', title: 'Series Cumulative Points'});
  }
</script>

{% endblock %}
