{% extends "base.html" %}

{% block body %}
<h1>Leaderboard</h1>
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>

<div id="leaderboard-container">
    <table id="leaderboard-table" class="currweatherTable">
        <thead>
            <tr>
                <th>Fan</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
{% for p in points_list %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.points }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
