{% extends "fantasy-series.html" %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title">{{ series }}</div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<h2>Leaderboard</h2>
<div id="leaderboard-container" class="fantasy-list-container">
{% if points_list %}
    <table id="leaderboard-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th>Fan</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
{% for p in points_list %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.points }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
No leaders yet!<br /><br />
<h2>Guessers in this Series</h2>
<ul>
{% for u in user_list %}
    <li>{{ u.user }}</li>
{% endfor %}
</ul>
{% endif %}
<a href="{{ series.get_absolute_url }}">Race List</a>
</div>
{% endblock %}
