{% extends "fantasy-series.html" %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title">{{ series }}</div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<div class="fantasy-form-help">
Click on a race to enter your picks or see results.<br />
</div>
{% if race_list %}
<div id="race-list-container" class="fantasy-list-container">
    <table id="race-list-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Race</th>
                <th>Winner</th>
                <th>My Guess{{ series.num_guesses|pluralize:",es" }}</th>
                <th>Date</th>
                <th>Start Time</th>
                <th class="nobg">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for r in race_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td><a href="{{ r.race.get_absolute_url }}">{{ r.race }}</a></td>
                <td>{{ r.winner }}</td>
                <td>{% if r.guesses %}{{ r.guesses|join:"<br />" }}{% else %}?{% endif %}</td>
                <td>{{ r.race.date|date:"D F d" }}</td>
                <td>{{ r.race.start_time|time:"f a" }} UTC</td>
                <td class="nobg">{% if is_admin %}<a href="{% url fantasy-race-edit r.race.pk %}">Edit race</a>{% endif %}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
No races found.<br />
{% endif %}
{% if is_admin %}
<a href="{% url fantasy-race-add series.pk %}">Add Race to Series</a><br />
<a href="{% url fantasy-competitor-list series.pk %}">{{ series.competitor_label }} List</a><br />
<a href="{% url fantasy-series-edit series.pk %}">Edit this Series</a>
{% endif %}
{% endblock %}
