{% extends "fantasy.html" %}

{% block fantasy-main %}
<h1>{% if race.pk %}Edit {% else %}Add {% endif %}Race</h1>
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>
<div class="fantasy-form-container">
    <form method="POST" action="">
        {{ race_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% if race.pk and is_admin %}
<a href="{% url fantasy-race-delete race.pk %}">Delete this race</a><br />
<a href="{% url fantasy-result-edit race.pk %}">Edit race results</a>
{% endif %}

{% endblock %}
