{% extends "base.html" %}

{% block body %}
<h2>Series: {{ series }}</h2>
<br />
<a href="{% url fantasy-series-leaderboard series.pk %}">Leaderboard</a>
<br /><br />
{% if race_list %}
<div id="race-list-container">
    <table id="race-list-table" class="currweatherTable">
        <thead>
            <tr>
                <th>Race</th>
                <th>My Guess</th>
                <th>Winner</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
{% for r in race_list %}
            <tr>
                <td><a href="{{ r.race.get_absolute_url }}">{{ r.race }}</a></td>
                <td>{% if r.guess %}
                    {{ r.guess.athlete }}<br />
                    {% else %}
                    ------
                    {% endif %}
                </td>
                <td>{{ r.winner }}</td>
                <td>{{ r.race.date|date:"D F d" }}</td>
                <td>{{ r.race.start_time|time:"f a" }} UTC</td>
                <td>{% if is_admin %}<a href="{% url fantasy-race-edit r.race.pk %}">Edit race</a>{% endif %}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
No races found.
{% endif %}
<br />
{% if is_admin %}<br /><a href="{% url fantasy-race-add series.pk %}">Add Race</a>{% endif %}
{% if is_admin %}<br /><a href="{% url fantasy-athlete-list series.pk %}">Athletes</a>{% endif %}
{% endblock %}
