{% extends "base.html" %}

{% block body %}
<h1>Choose {{ series.competitor_label }}(s)</h1>
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>
<h3>Race: <a href="{{ race.get_absolute_url }}">{{ race }}</a></h3>

<form method="POST" action="">
{% if formset %}
    {{ formset.management_form }}
    {% for error in formset.non_form_errors %}
    {{ error }}
    {% endfor %}
    <table>
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>{{ series.competitor_label }}</th>
        </thead>
        <tbody>
        {% for form in formset.forms %}
        <tr>
            <td>{{ form.competitor.label }}</td>
            <td>{{ form.competitor }} {{ form.competitor.errors }}</td>
            {% if form.non_field_errors %}<td> {{ form.non_field_errors }}</td>{% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

<input type="submit" value="Submit" />

</form>
{% if add_competitor_ok %}
<br />
Or
<br /><br />
<a href="{% url fantasy-competitor-add series.pk %}?next={% url fantasy-race-detail race.pk %}">Add new {{ series.competitor_label }}</a>
{% endif %}
<br />
{% endblock %}
