{% extends "base.html" %}

{% block body %}
<h1>Choose {{ series.competitor_label }}</h1>
<h2>Series: <a href="{{ series.get_absolute_url }}">{{ series }}</a></h2>
<h3>Race: {{ race }}</h3>

<form method="POST" action="">
    {{ guess_form.as_ul }}
    <input type="submit" value="Submit" />
</form>
{% if add_competitor_ok %}
<br />
Or
<br /><br />
<a href="{% url fantasy-competitor-add series.pk %}?next={% url fantasy-race-detail race.pk %}">Add new {{ series.competitor_label }}</a>
{% endif %}
<br />
{% endblock %}
