{% extends "fantasy-admin.html" %}

{% block fantasy-main %}
<div class="section-header">
    <div class="section-title"><a href="{{ series.get_absolute_url }}">{{ series }}</a><span class="action-title">&nbsp;&nbsp;&sim;&nbsp;&nbsp;{% if team.pk %}Edit{% else %}Add{% endif %} Team</span></div>
    {% if series.description %}<div class="section-tagline">{{ series.description }}</div>{% endif %}
</div>
<div class="fantasy-form-help">
Enter a team name and select {{ series.competitor_label }}s for {{ series }}. Click Submit when you are done.
</div>
<div class="fantasy-form-container">
    <form method="POST" action="">{% csrf_token %}
        {{ team_form.as_p }}
        <input type="submit" value="Submit" />
    </form>
</div>
{% if team.pk and is_admin %}
<a href="{% url fantasy-team-delete team.pk %}">Delete this team</a>
{% endif %}
{% if is_admin %}<br /><a href="{% url fantasy-team-list series.pk %}">Team List</a><br />{% endif %}
{% endblock %}
