    <div class="doneness-less">
{% if less_done %}<input id="less-button" type="image" value="{{ less_done.id }}" src="/static/img/iphone/doneness_less.png" />{% else %}&nbsp;{% endif %}
    </div>
    <div class="doneness-more">
{% if more_done %}<input id="more-button" type="image" value="{{ more_done.id }}" src="/static/img/iphone/doneness_more.png" />{% else %}&nbsp;{% endif %}
    </div>
<a class="doneness" href="{{ doneness.get_absolute_url }}">{{ doneness }}</a>
<script type="text/javascript">

function initButton() {
    YAHOO.util.Event.addListener(this, "click", newButton);
};

function newButton(e) {
    var t = YAHOO.util.Event.getTarget(e);
    
    donenessChange.fire(t.value);
    YAHOO.util.Event.preventDefault(e);
};

YAHOO.util.Event.onAvailable('less-button', initButton);
YAHOO.util.Event.onAvailable('more-button', initButton);
</script>
