<select id="id-food" class="selectLink">
    {% for food in food_list %}
    <option value="{{ food.id }}">{{ food.title }}</option>
    {% endfor %}
</select>

<script type="text/javascript">
function initSelect() {
    YAHOO.util.Event.addListener(this, "change", newSelect);
};

function newSelect(e) {
    var t = YAHOO.util.Event.getTarget(e);
    
    foodChange.fire(t.value);
    YAHOO.util.Event.preventDefault(e);
};

YAHOO.util.Event.onAvailable('id-food', initSelect);
</script>