<form action="." method="post">{% csrf_token %}
    <select id="id-food" class="selectLink">
    {% for f in food_list %}
    <option value="{{ f.id }}"{% ifequal f food %} selected="selected"{% endifequal %}>{{ f.title }}</option>
    {% endfor %}
    </select>
</form>

<script type="text/javascript">
function initFoodSelect() {
    YAHOO.util.Event.addListener(this, "change", newFoodSelect);
};

function newFoodSelect(e) {
    var t = YAHOO.util.Event.getTarget(e);
    
    foodChange.fire(t.value);
    YAHOO.util.Event.preventDefault(e);
};

YAHOO.util.Event.onAvailable('id-food', initFoodSelect);
</script>