<select id="id-hardware" class="selectLink">
    {% for h in hardware_list %}
    <option value="{{ h.id }}"{% ifequal h hardware %} selected="selected"{% endifequal %}>{{ h }}</option>
    {% endfor %}
</select>

<script type="text/javascript">
function initHardwareSelect() {
    YAHOO.util.Event.addListener(this, "change", newHardwareSelect);
};

function newHardwareSelect(e) {
    var t = YAHOO.util.Event.getTarget(e);
    
    hardwareChange.fire(t.value);
    YAHOO.util.Event.preventDefault(e);
};

YAHOO.util.Event.onAvailable('id-hardware', initHardwareSelect);
</script>