    <div id="grilling">
        <div class="title">Grilling Times & Temps</div>
        <form action="">
        <div class="yui-g">
            <div id="food-select" class="yui-u first">
            {% include "grill/iphone/food_select.html" %}
            </div>
            <div id="doneness" class="yui-u">
            {% include "grill/iphone/doneness_select.html" %}
            </div>
        </div>
        </form>
        {% include "grill/iphone/detail.html" %}
        </div>
    </div>
