{% extends "iframes.html" %}


{% block javascript %}
{{ block.super }}
var searchParamFromURL = '';
var engine = new Array (
    'http://www.google.com/search?q=',
    'http://search.yahoo.com/search?p=',
    'http://www.ask.com/web?q=',
    'http://search.msn.com/results.aspx?q=',
    'http://en.wikipedia.org/wiki/Special:Search?search=',
    'http://www.google.com/search?q='
);

function setiFrames() {
	var search = document.form.q.value;
    
    var arr = document.getElementsByTagName("iframe");
    for (i=0; i < arr.length; i++) {
        arr[i].src = engine[i] + search;
    }
}

function blockEnter(evt) {
    evt = (evt) ? evt : event;
    var charCode = (evt.charCode) ? evt.charCode :
        ((evt.which) ? evt.which : evt.keyCode);
    if (charCode == 13 || charCode == 3) {
		setiFrames();
        return false;
    } else {
        return true;
    }
}

function init() {
	document.form.q.focus();
	//check for search parameter in URL, if there, search
	var searchMe = parent.location.toString();
	searchMe = searchMe.split('?');
	if (searchMe.length > 1) {
		searchMe = searchMe[1];
		searchMe = searchMe.split('&');
		if (searchMe.length > 0) {
			searchMe = searchMe[0];
			searchMe = searchMe.split('=');
			if (searchMe.length > 1) {
				searchMe = searchMe[1];
				//search param given
				searchMe = searchMe.replace(/\+/g, '%20');
				document.form.q.value = unescape(searchMe);
				setiFrames();
			}
		}
	}
}
{% endblock javascript %}


{% block body %}
<body onLoad="init();" bgcolor="#CCCCCC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    {% block content %}
    {% endblock content %}
</body>
{% endblock body %}
