<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>AnswerDoctor.com Search Comparison</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.0/build/yahoo-dom-event/yahoo-dom-event.js"></script> 
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.0/build/utilities/utilities.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.0/build/dragdrop/dragdrop-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.5.0/build/container/container_core-min.js"></script>
<script type="text/javascript" src="/static/playhard/scripts/carousel_min.js"></script>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.0/build/reset-fonts-grids/reset-fonts-grids.css">
<link href="/static/playhard/css/carousel.css" rel="stylesheet" type="text/css">
<link href="/static/playhard/css/yui.css" rel="stylesheet" type="text/css">


<!-- 
    Inlined styles for my overrides to the carousel for this demo.
    Normally I would put this in a separate CSS file.
-->
<style type="text/css">
.carousel-component {
    padding:8px;
}
.carousel-component .carousel-list li { 
    margin:4px;
    width:504px;
    /*    margin-left: auto;*/ /* for testing IE auto issue */
}

.carousel-component .carousel-list li iframe { 
    display:block;
    border:1px solid #e2edfa;
    outline:none;
    -moz-outline:none; 
}

.carousel-component .carousel-list li iframe { 
    border:1px solid #999;
    display:block; 
}

.carousel-component .carousel-list li strong { 
    display:block; 
}
                                    

#prev-arrow { 
    position:absolute;
    top:40px;
    z-index:3;
    cursor:pointer; 
    left:5px; 
}

#next-arrow { 
    position:absolute;
    top:40px;
    z-index:3;
    cursor:pointer; 
    right:5px; 
}
</style>

<script type="text/javascript">

/**
 * search URLs
 **/
var searchList = [
    'http://www.google.com/search?q=',
    'http://search.yahoo.com/search?p=',
    'http://www.ask.com/web?q=',
    'http://search.msn.com/results.aspx?q=',
    'http://en.wikipedia.org/wiki/Special:Search?search=',
    'http://search.dmoz.org/cgi-bin/search?search='
                 ];

/**
 * Since carousel.addItem uses an HTML string to create the interface
 * for each carousel item, this method formats the HTML for an LI.
 **/

var fmtItem = function(url, search) {
    var uri = encodeURI(url + search);
    var innerHTML = 
        '<iframe src="' + uri +
        '" width="500px" height="700px" frameborder="1"></iframe>';
  
    return innerHTML;
    
};

/**
 * Custom inital load handler. Called when the carousel loads the initial
 * set of data items. Specified to the carousel as the configuration
 * parameter: loadInitHandler
 **/
var loadInitialItems = function(type, args) {
    var start = args[0];
    var last = args[1]; 
    load(this, start, last);    
};

/**
 * Custom load next handler. Called when the carousel loads the next
 * set of data items. Specified to the carousel as the configuration
 * parameter: loadNextHandler
 **/
var loadNextItems = function(type, args) {    

    var start = args[0];
    var last = args[1]; 
    var alreadyCached = args[2];
    
    if(!alreadyCached) {
        load(this, start, last);
    }
};

/**
 * Custom load previous handler. Called when the carousel loads the previous
 * set of data items. Specified to the carousel as the configuration
 * parameter: loadPrevHandler
 **/
var loadPrevItems = function(type, args) {
    var start = args[0];
    var last = args[1]; 
    var alreadyCached = args[2];
    
    if(!alreadyCached) {
        load(this, start, last);
    }
};

var load = function(carousel, start, last) {
    for(var i=start;i<=last;i++) {
        carousel.addItem(i, fmtItem(searchList[i-1], searchStr));
    }
};

/**
 * Custom button state handler for enabling/disabling button state. 
 * Called when the carousel has determined that the previous button
 * state should be changed.
 * Specified to the carousel as the configuration
 * parameter: prevButtonStateHandler
 **/
var handlePrevButtonState = function(type, args) {

    var enabling = args[0];
    var leftImage = args[1];
    if(enabling) {
        leftImage.src = "/static/playhard/images/left-enabled.gif";    
    } else {
        leftImage.src = "/static/playhard/images/left-disabled.gif";
    }
    
};

/**
 * You must create the carousel after the page is loaded since it is
 * dependent on an HTML element (in this case 'dhtml-carousel'.) See the
 * HTML code below.
 **/

var carousel; // for ease of debugging; globals generally not a good idea
var searchStr = "flashflight";
var pageLoad = function() 
{
    carousel = new YAHOO.extension.Carousel("dhtml-carousel", 
        {
            numVisible:        2,
            animationSpeed:    0.25,
            scrollInc:         1,
            navMargin:         30,
            size:              6,
            prevElement:       "prev-arrow",
            nextElement:       "next-arrow",
            loadInitHandler:   loadInitialItems,
            loadNextHandler:   loadNextItems,
            loadPrevHandler:   loadPrevItems,
            prevButtonStateHandler:   handlePrevButtonState
        }
    );
};

var searchFor = function(e) {
	searchStr = YAHOO.util.Dom.get("search-string").value;
	carousel.reload();
};

function blockEnter(evt) {
    evt = (evt) ? evt : event;
    var charCode = (evt.charCode) ? evt.charCode :
        ((evt.which) ? evt.which : evt.keyCode);
    if (charCode == 13 || charCode == 3) {
		searchFor();
        return false;
    } else {
        return true;
    }
}

YAHOO.util.Event.addListener(window, 'load', pageLoad);
YAHOO.util.Event.addListener("search-button", 'click', searchFor);

</script>
</head>

<body>

<div id="doc3" class="yui-t7">
    <div id="hd">
        <h1>AnswerDoctor.com Search Comparison</h1>
    </div>
    
    <div id="bd">
        <div style="clear:both;" class="input-line">
            Find:&nbsp;
            <input id="search-string" style="width:100px;" type="text" value="flashflight" onkeypress="return blockEnter(event);"/>
            <button id="search-button">Search</button>
        </div>
        
        <!-- Carousel Structure -->
        <div id="dhtml-carousel" class="carousel-component">
            <div><img id="prev-arrow" class="left-button-image" src="/static/playhard/images/left-enabled.gif" alt="Previous Button"/>
            </div>
            <div><img id="next-arrow" class="right-button-image" src="/static/playhard/images/right-enabled.gif" alt="Next Button"/>
            </div>
            <div class="carousel-clip-region">
                <ul class="carousel-list">
                    <!-- Filled in via the loadInitHandler, loadNextHandler, and loadPrevHandler -->
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>