{% load markup %}

{% if recipe %}
<div id="cocktail">
    <div class="yui-b" id="recipe-title">
        {{ recipe.title }}
    </div>
    
    <div class="yui-gf">
{% for i in ingredients %}
        <div id="ingredient">
            <div class="yui-u first i-qty">{{ i.quantity }}</div>
            <div class="yui-u">
                <span class="i-title"><a href="{% url food-ingredient-detail recipe_type=recipe_type,slug=i.slug %}">{{ i.title }}</a></span>
                <span class="i-modifier">{{ i.modifier }}</span>
            </div>
        </div>
{% endfor %}    
    </div>
    
    <div class="yui-b" id="recipe-directions">
        {{ recipe.directions|textile }}
    </div>
    {% if recipe.description %}
    <div class="yui-b" id="recipe-description">
        {{ recipe.description|textile }}
    </div>
    {% endif %}
    {% if recipe.credit %}
    <div class="yui-b" id="recipe-credit">
        {{ recipe.credit|textile }}
    </div>
    {% endif %}
</div>
{% endif %}
