{% extends "weather.html" %}

{% block javascript %}
	<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo/yahoo-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo/dom-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo/event-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo/connection-min.js"></script>
	<script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo/animation-min.js"></script>
	<script type="text/javascript" src="/static/js/current_weather.js"></script>
{% endblock %}

{% load markup %}

{% block body %}
	<div class="weatherItem">
		<div class="Box">
			<div class="Header">
				<div class="Title">
					Crested Butte South Current Conditions
				</div> <!-- Title -->

				<div class="Date">
					{{ current.timestamp }}
				</div> <!-- Date -->
			</div> <!-- Header -->

			<div class="Body">
                <div id="CurrentWeather"
                    <div>
                    Temp: <span id="current_temp">{{ current.temp }}&#186;</span>
                    </div>
                    
                    <div>
                    Humidity: <span id="current_humidity">{{ current.humidity }}%</span>
                    </div>
                    
                    <div>
                    Humidity: <span id="current_barometer">{{ current.barometer }}%</span>
                    </div>
                </div> <!-- CurrentWeather -->
            </div> <!-- Body -->
        </div>  <!-- Box -->
    </div>  <!-- weatherItem -->
{% endblock %}

