{% extends "weather.html" %}
{% load markup %}

{% block body %}
	<div class="box">
    	<div class="weatherItem">
			<div class="header">
				<div class="title">
					Crested Butte South Current Conditions
				</div> <!-- title -->

				<div class="date">
					{{ current.timestamp }}
				</div> <!-- date -->
			</div> <!-- header -->

			<div class="body">
                <div id="curr_weather">
                    <div id="curr-temp-block" style="background: url({{ temp_chart|safe }}) no-repeat top">
                        <div id="curr_temp" class="{% if morning %}chart_am{% else %}chart_pm{% endif %}">
                            <span class="temp_value">{{ current.temp|stringformat:"d" }}&#186;</span>
                            <span class="curr_units temp_units" style="display: {{ show_units }}"></span>
                        </div>
                    </div>
                    <div id="curr-barometer-block" style="background: url({{ baro_chart|safe }}) no-repeat top">
                        <div class="{% if morning %}chart_am{% else %}chart_pm{% endif %}">
                            <div id="curr_baro">
                                <span class="baro_value">{{ current.barometer }}</span>
                                <span class="curr_units baro_units" style="display: {{ show_units }}"></span>
                            </div>
                            <div class="weather_title">
                                    <span class="curr_title" style="visibility: {{ show_titles }}">barometer</span>
                            </div>
                            <div id="curr_trend">
                                <span class="baro_value">{{ trend }}</span>
                                <span class="curr_units baro_units" style="display: {{ show_units }}"></span>
                            </div>
                            <div class="weather_title">
                                    <span class="curr_title" style="visibility: {{ show_titles }}">3-hour &#916;</span>
                            </div>
                        </div>
                    </div>
                    <div class="yui-gb">
                        <div id="curr_wind" class="yui-u first"{% if wind_dir %} style="background: url(/static/img/{{ wind_dir }}) no-repeat top"{% endif %}>
                            <span class="speed_value">{{ wind_speed }}</span>
                            <div><span class="curr_units speed_units" id="wind_units" style="display: {{ show_units }}"></span></div>
                        </div>
                        <div id="curr_windchill" class="yui-u">
                            <span class="temp_value">{{ current.windchill|stringformat:"d" }}&#186;</span>
                            <span class="curr_units temp_units" style="display: {{ show_units }}"></span>
                        </div>
                        <div id="curr_humidity" class="yui-u">
                            <span class="humidity_value">{{ current.humidity }}</span>
                            <span class="curr_units">%</span>
                        </div>
                    </div>
                    <div class="yui-gb weather_title">
                        <div class="yui-u first">
                            <span class="curr_title" style="visibility: {{ show_titles }}">wind</span>
                        </div>
                        <div class="yui-u">
                            <span class="curr_title" style="visibility: {{ show_titles }}">windchill</span>
                        </div>
                        <div class="yui-u">
                            <span class="curr_title" style="visibility: {{ show_titles }}">humidity</span>
                        </div>
                    </div>
                    <div>
                        <button id="refresh-button">Refresh Weather</button>
                    </div>
                </div>
                {% if elapsed %}
                <div>
                    {{ elapsed }} sec.
                </div>
                {% endif %}
			</div> <!-- body -->
		</div>  <!-- weatherItem -->
	</div>  <!-- box -->

  {% if noaa %}
    <div class="box">
  	<div class="weatherItem">
        <div class="header">
            <div class="title">
                NOAA Forecast
            </div> <!-- title -->
    
            <div class="date">
                {{ noaa.timestamp|date:"H:i \M\T D M j, Y" }}
            </div> <!-- date -->
        </div> <!-- header -->
        
        <div class="forecast">
            {% if noaa.warning %}
            <div class="warning">
                {{ noaa.warning }}
            </div>
            {% endif %}
            {% for sec in noaa.sections %}
            <div class="section">
                <div class="title">{{ sec.title }}</div>
                <div class="body">
                    {{ sec.body }}
                </div>
            </div>
            {% endfor %}
        </div>  <!-- forecast -->
    </div>  <!-- weatherItem -->
    </div>  <!-- box -->
    {% endif %}


{% endblock %}
