{% extends "weather.html" %}

{% block javascript %}
	<script type="text/javascript" src="/static/js/yui/yahoo-debug.js"></script>
	<script type="text/javascript" src="/static/js/yui/dom-debug.js"></script>
	<script type="text/javascript" src="/static/js/yui/event-debug.js"></script>
	<script type="text/javascript" src="/static/js/yui/connection-debug.js"></script>
	<script type="text/javascript" src="/static/js/yui/animation-debug.js"></script>
	<script type="text/javascript" src="/static/js/current_weather.js"></script>
    
    
    <!-- YUI Dependency -->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/dragdrop/dragdrop-min.js" ></script>
    
    <!-- Required for YUI Logger -->
    <script type="text/javascript" src="http://yui.yahooapis.com/2.3.1/build/logger/logger-min.js"></script> 
    <link type="text/css" rel="stylesheet" href="http://yui.yahooapis.com/2.3.1/build/logger/assets/logger.css"> 
    
    <!-- Download the JS and change this link for your own code -->
    <script type="text/javascript" src="/static/js/debugger.js"></script>

    
{% endblock %}

{% load markup %}

{% block body %}
	<div class="weatherItem">
		<div class="Box">
			<div class="Header">
				<div class="Title">
					Crested Butte South Current Conditions
				</div> <!-- Title -->

				<div class="Date">
					{{ current.timestamp }}
				</div> <!-- Date -->
			</div> <!-- Header -->

			<div class="Body">
                <div id="CurrentWeather"
                    <div>
                    Temp: <span id="current_temp">{{ current.temp }}&#186;</span>
                    </div>
                    
                    <div>
                    Humidity: <span id="current_humidity">{{ current.humidity }}%</span>
                    </div>
                    
                    <div>
                    Humidity: <span id="current_barometer">{{ current.barometer }}%</span>
                    </div>
                </div> <!-- CurrentWeather -->
            </div> <!-- Body -->
        </div>  <!-- Box -->
    </div>  <!-- weatherItem -->
{% endblock %}

