{% extends "weather.html" %}
{% load markup %}

{% block body %}
	<div class="box">
    	<div class="weatherItem">
			<div class="header">
				<div class="title">
					Crested Butte South Current Conditions
				</div> <!-- title -->

				<div class="date">
					{{ current.timestamp }}
				</div> <!-- date -->
			</div> <!-- header -->

			<div class="body">
				<table class="currweatherTable">
   
      <!-- TEMPERATURE -->
        <tr>
		    <td class="currweatherHead">Temp:</td>
	   	  <td class="currweatherMajorItem">{{ current.temp }}&#186;</td>
		    <td class="currweatherHead">Rel. Humidity:</td>
	   	  <td class="currweatherMajorItem">{{ current.humidity }}%</td>
        </tr>

      <!-- BAROMETRIC PRESSURE -->
        <tr>   
        <td class="currweatherHead">Baro:</td>
        <td class="currweatherMajorItem">{{ current.barometer }}</td>
        <td class="currweatherHead">3 Hr. Trend:</td>
        <td class="currweatherMajorItem">{{ current.baro_trend }}</td>
        </tr>

      <!-- WIND -->
        <tr>   
        <td class="currweatherHead">Wind:</td>
        <td class="currweatherMajorItem">{{ current.wind_dir }} at {{ current.wind_speed }}</td>
        <td class="currweatherHead">Wind Chill:</td>
        <td class="currweatherMajorItem">{{ current.windchill }}&#186;</td>
        </tr>

      <!-- DEWPOINT -->
        <tr>
        <td class="currweatherHead">Dewpoint:</td>
        <td class="currweatherMajorItem">{{ current.dewpoint }}&#186;</td>
        </tr>
      </table>

      </div> <!-- body -->
    </div>  <!-- weatherItem -->
  </div>  <!-- box -->

  {% if noaa %}
    <div class="box">
  	<div class="weatherItem">
        <div class="header">
            <div class="title">
                NOAA Forecast
            </div> <!-- title -->
    
            <div class="date">
                {{ noaa.timestamp|date:"H:i \M\T D M j, Y" }}
            </div> <!-- date -->
        </div> <!-- header -->
        
        <div class="forecast">
            {% if noaa.warning %}
            <div class="warning">
                {{ noaa.warning }}
            </div>
            {% endif %}
            {% for sec in noaa.sections %}
            <div class="section">
                <div class="title">{{ sec.title }}</div>
                <div class="body">
                    {{ sec.body }}
                </div>
            </div>
            {% endfor %}
        </div>  <!-- forecast -->
    </div>  <!-- weatherItem -->
    </div>  <!-- box -->
    {% endif %}


{% endblock %}
