<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>CracklyFinger Weather</title>
    
    <meta name="keywords" content="cracklyfinger, weather, forecast, current conditions" />
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    
    <link rel="apple-touch-icon" href="/static/img/weather-icon.png" />
    <link rel="stylesheet" type="text/css" href="/static/css/iui.css" />
<!--    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.4.1/build/reset-fonts-grids/reset-fonts-grids.css"> -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.4.1/build/grids/grids-min.css">

    <script type="text/javascript" src="http://yui.yahooapis.com/2.4.1/build/utilities/utilities.js"></script>
    <script type="text/javascript" src="/static/js/doc_utils.js"></script>
<style>


.container {
    position: absolute;
    width: 100%;
}

body[orient="profile"] .panel {
    height: 416px;
}

body[orient="landscape"] .panel {
    height: 268px;
}

#page_title {
    text-align: center;
    font-size: 80%;
}
#curr_weather {
    text-align: center;
}
#curr_temp {
    font-size: 3em;
    text-align: center;
    margin: 5px;
    height: 80px;
}
#curr_barometer_block {
    height: 80px;
}
#curr_press, #curr_trend, #curr_wind, #curr_humidity, #curr_windchill {
    font-size: 2em;
    text-align: center;
    line-height: 90%;
}
#curr_indoor {
    font-size: 2em;
}
.weather_title {
    margin-bottom: 20px;
}
.curr_units {
    font-size: 60%;
}
.warning {
    color: red;
    font-weight: bold;
}
</style>

<script type="application/x-javascript">
    
    addEventListener("load", function()
    {
        setTimeout(updateLayout, 0);
    }, false);

    var currentWidth = 0;
    
    function updateLayout()
    {
        if (window.innerWidth != currentWidth)
        {
            currentWidth = window.innerWidth;

            var orient = currentWidth == 320 ? "profile" : "landscape";
            document.body.setAttribute("orient", orient);
            setTimeout(function()
            {
                window.scrollTo(0, 1);
            }, 100);            
        }
    }

    setInterval(updateLayout, 400);
    
</script>

</head>

<body>
    <div class="panel" selected="true">
        <a name="top"></a>
        <fieldset>
        <a name="current"></a>
        <div id="page_title">Crested Butte South Current Conditions<br />
        {{ current.timestamp|date:"H:i \M\T D M j, Y" }}</div>
        
        <div id="curr_weather">
            <div id="curr_temp" class="yui-b" style="background: url({{ temp_chart }}) no-repeat top">
                {{ current.temp|floatformat:"-2" }}&#186;
                <span class="curr_units" style="display: {{ show_units }}">F</span>
            </div>
            <div class="yui-g" id="curr_barometer_block" style="background: url({{ baro_chart }}) no-repeat top">
                <div id="curr_press" class="yui-u first">
                    {{ current.barometer }}
                    <span class="curr_units" style="display: {{ show_units }}">inHg</span>
                </div>
                <div id="curr_trend" class="yui-u">
                    {{ trend|safe }}
                    <span class="curr_units" style="display: {{ show_units }}">inHg</span>
                </div>
            </div>
            <div class="yui-g weather_title">
                <div class="yui-u first">
                    <span class="curr_title" style="visibility: {{ show_titles }}">barometer</span>
                </div>
                <div class="yui-u">
                    <span class="curr_title" style="visibility: {{ show_titles }}">3-hour trend</span>
                </div>
            </div>
            <div class="yui-g">
                <div id="curr_press" class="yui-u first">
                    {{ wind|safe }}
                    <span class="curr_units" style="display: {{ show_units }}">{% ifnotequal wind "Calm" %}mph{% endifnotequal %}</span>
                </div>
                <div id="curr_trend" class="yui-u">
                    {{ current.humidity }}%
                </div>
            </div>
            <div class="yui-g weather_title">
                <div class="yui-u first">
                    <span class="curr_title" style="visibility: {{ show_titles }}">wind</span>
                </div>
                <div class="yui-u">
                    <span class="curr_title" style="visibility: {{ show_titles }}">humidity</span>
                </div>
            </div>
            
            
            {% ifnotequal wind "Calm" %}
            <div id="curr_windchill" class="yui-b">
                {{ current.windchill|floatformat:"-2" }}&#186;
                <span class="curr_units" style="display: {{ show_units }}">F</span>
            </div>
            <div class="yui-b weather_title">
                <span class="curr_title" style="visibility: {{ show_titles }}">windchill temp</span>
            </div>
            {% endifnotequal %}
            
            {% if indoor %}
            <div id="curr_indoor" class="yui-b">
                {{ indoor|floatformat:"-2" }}&#186;</span>
                <span class="curr_units" style="display: {{ show_units }}">F</span>
            </div>
            <div class="yui-b weather_title">
                <span class="curr_title" style="visibility: {{ show_titles }}">indoor</span>
            </div>
            {% endif %}
            
            
        </div>
        
<script type="text/javascript">
	function toggleUnits(element) {
        var elements = YAHOO.util.Dom.getElementsByClassName('curr_units', 'span');
        
        if (elements) {
            var state = elements[0].style.display;
            if (state == 'none')
                state = '';
            else
                state = 'none';
                
            for (i=0; i<elements.length; i++) {
                elements[i].style.display = state;
            }
            Set_Cookie("curr_weather_show_units", state, 7, '/', '', '');
        }
		element.setAttribute("toggled", element.getAttribute("toggled") != "true");
	}
    
	function toggleLabels(element) {
        var elements = YAHOO.util.Dom.getElementsByClassName('curr_title', 'span');
        if (elements) {
            var state = elements[0].style.visibility;
            if (state == 'hidden')
                state = 'visible';
            else
                state = 'hidden';
                
            for (i=0; i<elements.length; i++) {
                elements[i].style.visibility = state;
            }
            Set_Cookie("curr_weather_show_titles", state, 7, '/', '', '');
        }
		element.setAttribute("toggled", element.getAttribute("toggled") != "true");
	}
</script>
            
        <div class="row">
            <label>Units:</label>
            <div class="toggle" onclick="toggleUnits(this)" toggled="false">
            <span class="thumb"></span>
            <span class="toggleOn">No</span>
            <span class="toggleOff">Yes</span>
            </div>
        </div>            
        <div class="row">
            <label>Labels:</label>
            <div class="toggle" onclick="toggleLabels(this)" toggled="false">
            <span class="thumb"></span>
            <span class="toggleOn">No</span>
            <span class="toggleOff">Yes</span>
            </div>
        </div>            
        </fieldset>    
</body>

</html>

