{% extends "weather2.html" %}

{% block extrastyle %}
{{ block.super }}
<meta name="viewport" content="width=device-width" />

<!--[if !IE]>-->
<link rel="stylesheet" media="only screen and (max-width: 480px)" href="/static/css/small-device.css" type="text/css" >
<link rel="stylesheet" media="screen and (min-device-width: 481px)" href="/static/css/normal-browser.css" type="text/css" >
<!--<![endif]-->

<style>
dl.table-display {
    margin: 0;
    padding: 0;
}

.table-display dt {
    float: left;
    margin: 0 0 0 0;
    padding: .3em;
    text-align: right;
    width: 35%;
    font-size: 2em;
}

.table-display dd {
    float: left;
    margin: 0 0 0 0;
    padding: 0.3em;
    width: 55%;
    font-size: 2em;
}
#curr_temp {
    font-size: 4em;
}
#curr_press {
    font-size: 2em;
}
#curr_trend {
    font-size: 2em;
}
#curr_wind {
    font-size: 2em;
}
#curr_humidity {
    font-size: 2em;
}
</style>
{% endblock extrastyle %}

{% block javascript %}
{{ block.super }}
<!-- <script type="text/javascript" src="/static/js/weather.js"></script> -->
{% endblock javascript %}

{% block hd %}
    {{ block.super }}
    Crested Butte South Current Conditions<br />
    {{ current.timestamp }}
{% endblock hd %}

{% block bd %}
<div id="curr_temp" class="yui-b">{{ current.temp|floatformat:"-2" }}&#186; F</div>
<div class="yui-g">
    <div id="curr_press" class="yui-u first">{{ current.barometer }}</div>
    <div id="curr_trend" class="yui-u">{{ current.baro_trend }}</div>
</div>
<div class="yui-g">
    <div id="curr_wind" class="yui-u first">{{ wind|safe }}</div>
    <div id="curr_humidity" class="yui-u">{{ current.humidity }}%</div>
</div>    
{% endblock bd %}
