{% extends "weather2.html" %}

{% block extrastyle %}
{{ block.super }}
<style>
#custom-doc {
	margin:auto;text-align:left; /* leave unchanged */
	width:36.92em;/* non-IE */
	*width:36.03em;/* IE */
	min-width:480px;/* optional but recommended */
}
#curr_temp {
    font-size: 6em;
    text-align: center;
    margin: 5px;
}
#curr_press, #curr_trend, #curr_wind, #curr_humidity, #curr_indoor {
    font-size: 3em;
    text-align: center;
}
.warning {
    color: red;
    font-weight: bold;
}
</style>
{% endblock extrastyle %}

{% block javascript %}
{{ block.super }}
<!-- <script type="text/javascript" src="/static/js/weather.js"></script> -->
{% endblock javascript %}

{% block hd %}
    {{ block.super }}
    Crested Butte South Current Conditions<br />
    {{ current.timestamp|date:"H:i \M\T D M j, Y" }}
{% endblock hd %}

{% block bd %}
<div id="curr_temp" class="yui-b">{{ current.temp|floatformat:"-2" }}&#186;</div>
<div class="yui-g">
    <div id="curr_press" class="yui-u first">{{ current.barometer }}</div>
    <div id="curr_trend" class="yui-u">{{ trend|safe }}</div>
</div>
<div id="curr_wind" class="yui-b">wind {{ wind|safe }}</div>
<div id="curr_humidity" class="yui-b">humidity {{ current.humidity }}%</div>
{% if indoor %}<div id="curr_indoor" class="yui-b">office {{ indoor }}&#186;%</div>{% endif %}
{% endblock bd %}
