<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <meta name="description" content="Weather and Cocktails from Crested Butte, Colorado" />
   <meta name="resource-type" content="document" />
   <meta http-equiv="pragma" content="no-cache" />
   <meta name="revisit-after" content="5 days" />
   <meta name="classification" content="Recreational" />
   <meta name="MSSmartTagsPreventParsing" content="TRUE" />
   <meta name="keywords" content="crested butte,weather,cocktails,blog,colorado,forecast,humidity,barometric pressure,temperature,food,grill,gin,vodka,rum,tequila,scotch,whiskey,brandy,champagne,bitters" />
   <meta name="robots" content="ALL" />
   <meta name="distribution" content="Global" />
   <meta name="rating" content="Safe For Kids" />
   <meta name="copyright" content="2000-2007 - FlyingCracker.com" />
   <meta name="author" content="Graham Ullrich" />
   <meta http-equiv="reply-to" content="" />
   <meta name="language" content="English" />

   <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />

   <title>flyingcracker{% block section_title %}{% endblock %}</title>

   <link rel="stylesheet" type="text/css" href="/static/css/f3.css" title="stylesheet" />

   {% block analytics %}{% endblock %}

</head>

<body onload="if (self != top) top.location = self.location">

   <div id="container">
      <div id="banner">
         <div>
            <h1>flyingcracker</h1>
         </div>
      </div> <!-- banner -->

      <div id="nav">
         {% block login %}<div>login</div>{% endblock %}
         {% block context_links %}<div>context links</div>{% endblock %}
      </div> <!-- nav -->

      <div id="siteNav">
         <ul>
            <!-- HOME link -->			
            <li><a href="/" title="Home">Home</a></li>
            <li><a href="/cocktail" title="Cocktail">Cocktails</a></li>
            <li><a href="/food" title="Food">Food</a></li>
         </ul>
      </div> <!-- siteNav -->

      <div id="content">
      {% block body %}
      body
      {% endblock %}
      </div> <!-- content -->

      <div id="footer">
         <div class="right">
            <a href="/user/about.php">ABOUT US</a><br />
            <a href="mailto:graham at flyingcracker dot com">CONTACT US</a><br />
            <br />
            <a href="http://validator.w3.org/check/referer">
               <img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0!" height="31" width="88" />
            </a>
         </div>
         <div class="banner">
            <div class="catchphrase">
               Dangerously Informative  -  flyingcracker.com
            </div>
            <div class="mission">
               <div class="title">
                  Our Mission
               </div>
               <div class="body">

                  {% block footer_mission %}
                     mission
                  {% endblock %}
               </div>
            </div>
         </div>
      </div> <!-- footer -->
   </div> <!-- container -->
</body>

</html>
