{% load markup staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="keywords" content="cracklyfinger, weather, forecast, current conditions, cocktail, webcam" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="Weather and Cocktails from Crested Butte, Colorado" />
    <meta name="resource-type" content="document" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="revisit-after" content="5 days" />
    <meta name="classification" content="Recreational" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta name="robots" content="ALL" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="Safe For Kids" />
    <meta name="copyright" content="2000-2013 - CracklyFinger.com" />
    <meta name="author" content="Graham Ullrich" />
    <meta http-equiv="reply-to" content="" />
    <meta name="language" content="English" />

	<title>CracklyFinger {% block extra_title %}{% endblock %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico" %}" />

    <title>flyingcracker{% block section_title %}{% endblock %}</title>

	<!-- Individual YUI CSS files -->
	<link rel="stylesheet" type="text/css" href="{{ yui_path }}/build/reset-fonts-grids/reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="{{ yui_path }}/build/assets/skins/sam/skin.css">

	<link href="{{ STATIC_URL }}css/uni-form.css" rel="stylesheet" type="text/css" />

    {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "css/f3.css" %}" title="stylesheet" />
    {% endblock extrastyle %}

    {% block javascript %}
	<!-- jQuery -->
	<script type="text/javascript" language="javascript" src="{% static "js/jquery.js" %}"></script>
	<script type="text/javascript" language="javascript" src="{% static "js/jquery-ui.min.js" %}"></script>

	<!-- Individual YUI JS files -->
	<script type="text/javascript" src="{{ yui_path }}/build/utilities/utilities.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/container/container-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/menu/menu-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/button/button-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/history/history-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/json/json-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/layout/layout-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/tabview/tabview-min.js"></script>
	<script type="text/javascript" src="{{ yui_path }}/build/cookie/cookie-min.js"></script>
    {% endblock %}

	{% comment %}
	The YUI CSS and Javascript files shown above were generated by the following URL:
	http://developer.yahoo.com/yui/articles/hosting/?button&connection&container&dom&element&event&history&json&layout&menu&reset-fonts-grids&utilities&yahoo&MIN&nocombine&basepath&tabview&{{ yui_path }}/build/
	{% endcomment %}

    {% block my_source %}
    <!-- My source - always after standard javascript block -->
    <script type="text/javascript" src="{% static "js/doc_utils.js" %}"></script>
    {% endblock my_source %}

    {% block extrahead %}
    {% endblock %}

    {% block analytics %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2284477-2");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
    {% endblock analytics %}

<script type="text/javascript">
    // Initialize and render the menu bar when it is available in the DOM
    YAHOO.util.Event.onContentReady("main-menu", function () {
        // Instantiate and render the menu bar
        var oMenuBar = new YAHOO.widget.MenuBar("main-menu", { autosubmenudisplay: true, hidedelay: 750, lazyload: true });
        oMenuBar.render();
    });
</script>

</head>

<body onload="if (self != top) top.location = self.location" class=" yui-skin-sam">

<div id="doc3" class="yui-t2">
	<div id="hd" class="top1">
        {% block header %}
        <div id="user-tools">
            {% block user %}
            {% if user.is_authenticated %}
                Welcome, <a href="#">{{ user.username }}</a>{% if user.is_staff %} [staff]{% endif %}</strong>.

                <a href="{% url 'auth_logout' %}">Log out</a>
            {% else %}
                <a href="{{ login_url }}">Log in</a> or <a href="{% url 'registration_register' %}">Sign up</a>
            {% endif %}
            {% endblock user %}
        </div> <!-- user-tools -->

        <div id="branding">
            <h1 id="site-name">{% block branding %}{{ system_name }} <span class="subtitle"> - test site for <a href="http://www.flyingcracker.com">flyingcracker.com</a></span>{% endblock %}</h1>
        </div>
        {% endblock header %}
	</div>
	<div id="bd" class="center1">

		<!-- Preset Templates control the width and alignment of the two blocks (div.yui-b). -->
		<!-- The wide column is wrapped in div#yui-main -->
		<div id="yui-main">
			<div class="yui-b">
                <div id="main-menu" class="yuimenubar yuimenubarnav">
                    <div class="bd">
                        <ul class="first-of-type">
                            {% block navmenu %}
                            <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="{% url 'weather-root' %}">Weather</a></li>
                            <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url 'cam-root' %}">WebCams</a></li>
                            <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url 'food-recipe-list' recipe_type="cocktail" %}">Cocktails</a></li>
                            <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url 'food-recipe-list' recipe_type="food" %}">Food</a></li>
                            <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url 'fantasy-root' %}">Fantasy</a></li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>

                <div id="content">
                    {% block body %}
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo nibh, pharetra at, .</p>
                    {% endblock %}
                </div> <!-- content -->
			</div>
		</div>

		<!-- the unwrapped div.yui-b takes a fixed width and alignment based on the class of the top-level containing node -->
		<div class="yui-b left1">
            {% block leftbar %}
            <img src="{% static "img/logo.png" %}" height="170" alt="nav photo" />
            <div id="newsblog">
                {% for post in miniblog %}
                <div class="post">
                    <div class="date">{{ post.pub_date|date:"n/j/y - g:i A" }}</div>
                    <div class="body">{{ post.body|textile }}</div>
                </div>
                {% endfor %}
                <div class="post">
                    <a href="{% url 'miniblog-archive' %}">More items...</a>
                </div>
            </div>
            <div id="rss">
                <a href="/feeds/rss/"><img alt="RSS Feed" src="{% static "img/feed-icon-28x28.png" %}" /></a>&nbsp;
            </div> <!-- rss -->
            {% endblock leftbar %}
        </div>

	</div>

	<div id="ft" class="bottom1">
		<p>This site represents the next generation of flyingcracker.com. This is a work in progress.
        Not all functionality may be available, not all pages may work, not all buttons may operate.
        Nevertheless we feel that flyingcracker fans may appreciate some of the newer features found herein
        and enjoy watching the site development process. If you have a suggestion please email it to:
        fc3@flyingcracker.com. Thanks for participating!</p>
		<p>[{{ system_name }} version {{ system_version }}]</p>
{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
	</div>
</div>

</body>

</html>
