<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta name="keywords" content="cracklyfinger, weather, forecast, current conditions, cocktail, webcam" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="Weather and Cocktails from Crested Butte, Colorado" />
    <meta name="resource-type" content="document" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="revisit-after" content="5 days" />
    <meta name="classification" content="Recreational" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <meta name="robots" content="ALL" />
    <meta name="distribution" content="Global" />
    <meta name="rating" content="Safe For Kids" />
    <meta name="copyright" content="2000-2007 - CracklyFinger.com" />
    <meta name="author" content="Graham Ullrich" />
    <meta http-equiv="reply-to" content="" />
    <meta name="language" content="English" />

	<title>CracklyFinger {% block extra_title %}{% endblock %}</title>
 
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico" />
 
    <title>flyingcracker{% block section_title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ yui_path }}/build/reset-fonts-grids/reset-fonts-grids.css"> 
    <link rel="stylesheet" type="text/css" href="{{ yui_path }}/build/assets/skins/sam/skin.css">
    {% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/css/f3.css" title="stylesheet" />
    {% endblock extrastyle %}
    
    {% block javascript %}
    <script type="text/javascript" src="{{ yui_path }}/build/yuiloader/yuiloader-beta-min.js"></script> 
    <script type="text/javascript" src="{{ yui_path }}/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/element/element-beta-min.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/layout/layout-beta-min.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/container/container-min.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/json/json-min.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/menu/menu-min.js"></script>
    <script type="text/javascript" src="{{ yui_path }}/build/button/button-min.js"></script>
    {% endblock %}
    
    {% block my_source %}
    <!-- My source - always after standard javascript block -->
    <script type="text/javascript" src="/static/js/doc_utils.js"></script>
    {% endblock my_source %}
    
    {% block extrahead %}
    {% endblock %}

    {% block analytics %}
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2284477-2");
        pageTracker._initData();
        pageTracker._trackPageview();
    </script>
    {% endblock analytics %}
    
<script type="text/javascript">
    // Initialize and render the menu bar when it is available in the DOM
    YAHOO.util.Event.onContentReady("main-menu", function () {
        // Instantiate and render the menu bar
        var oMenuBar = new YAHOO.widget.MenuBar("main-menu", { autosubmenudisplay: true, hidedelay: 750, lazyload: true });
        oMenuBar.render();
    });
</script>
    
</head>

<body onload="if (self != top) top.location = self.location" class=" yui-skin-sam">
<div id="doc3" class="yui-t2">					
	<div id="hd" class="top1">
        CracklyFinger.com<span class="subtitle"> - test site for <a href="http://www.flyingcracker.com">flyingcracker.com</a></span>
	</div>
	<div id="bd" class="center1">

		<!-- Preset Templates control the width and alignment of the two blocks (div.yui-b). -->
		<!-- The wide column is wrapped in div#yui-main -->
		<div id="yui-main">
			<div class="yui-b">
                <div id="main-menu" class="yuimenubar yuimenubarnav">
                    <div class="bd">
                        <ul class="first-of-type">
                            {% block navmenu %}
                            <li class="yuimenubaritem first-of-type"><a class="yuimenubaritemlabel" href="{% url fc-weather %}">Weather</a></li>
                            <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url fc-cam %}">WebCams</a></li>
                            <li class="yuimenubaritem"><a class="yuimenubaritemlabel" href="{% url food-recipe-list recipe_type="cocktail" %}">Cocktails</a></li>
                            {% endblock %}
                        </ul>            
                    </div>
                </div>
                
                <div id="content">
                    {% block body %}
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse justo nibh, pharetra at, .</p>
                    {% endblock %}
                </div> <!-- content -->
			</div>
		</div>

		<!-- the unwrapped div.yui-b takes a fixed width and alignment based on the class of the top-level containing node -->
		<div class="yui-b left1">
            {% block leftbar %}
            <img src="/static/img/duke.jpg" height="170" alt="nav photo" />
            <div id="newsblog">
                {% for post in miniblog %}
                <div class="post">
                    <div class="date">{{ post.pub_date|date:"n/j/y - g:i A" }}</div>
                    <div class="body">{{ post.body|safe }}</div>
                </div>
                {% endfor %}
            </div>
            {% endblock leftbar %}
        </div>
		
	</div>

	<div id="ft" class="bottom1">
		<p>Footer - Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas sit amet metus. Nunc quam elit, posuere nec, auctor in, rhoncus quis, dui. Aliquam erat volutpat. Ut dignissim, massa sit amet dignissim cursus, quam lacus feugiat.</p>
	</div>
</div>
</body>

</html>
