{% load humanize %}
{% load user_time %}
{% load markup %}

<div class="comment-item">
    <p>
    {{ comment.comment|markdown }}
    </p>
    <div class="comment-posted">
    Posted by: <span class="comment-user">{{ comment.user }}</span> on 
    
  {% with user|user_time:comment.submit_date as timestamp %}
  {{ timestamp|date:"l M j, Y" }} at {{ timestamp|date:"P" }}  {% firstof user.get_profile.timezone "UTC" %}
  {% endwith %}
    
    </div>
    <hr class="comment-separator">
</div>