{% extends "fantasy/admin.html" %}
{% load uni_form_tags staticfiles %}

{% block fantasy-main %}
{{ block.super }}
{% if is_admin %}
<div class="fantasy-form-help">The following {{ series.competitor_label }}s are available for this series.<br />
To add a new {{ series.competitor_label }}, enter a name and click the "Add {{ series.competitor_label }}" button, or <a href="{% url 'fantasy:competitor-import' series.pk %}">Import {{ series.competitor_label }}s</a> from other Series.</div>
<div class="fantasy-form-container">
    <form method="POST" action="" class="uniForm">{% csrf_token %}
        {{ competitor_form|crispy }}
        <input type="submit" value="Add {{ series.competitor_label }}" />
    </form>
</div>
{% endif %}
<div id="competitor-list-container" class="fantasy-list-container">
    <table id="competitor-list-table" class="fantasy-list-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>{{ series.competitor_label }}</th>
                <th>Team</th>
                <th class="center">Active</th>
                {% if is_admin %}
                <th>Admin</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% static "img/active.png" as active_img %}
        {% static "img/inactive.png" as inactive_img %}
{% for competitor in competitor_list %}
            <tr>
                <td>{{ forloop.counter }}.</td>
                <td>{{ competitor }}</td>
                <td>{{ competitor.team.short }}</td>
                <td class="center"><img src="{% if competitor.active %}{{ active_img|safe }}{% else %}{{ inactive_img|safe }}{% endif %}"></td>
                {% if is_admin %}
                <td><input type="button" value="Edit" onclick="location.href='{% url 'fantasy:competitor-edit' competitor.pk %}';" /></td>
                {% endif %}
            </tr>
{% empty %}
            <tr>
                <td>&nbsp;</td>
                <td>No {{ series.competitor_label }}s for {{ series }} in database</td>
                <td>&nbsp;</td>
                <td class="nobg">&nbsp;</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
<a href="{% url 'fantasy:team-list' series.pk %}">Team List</a><br />
{% endblock %}
