{% extends "base.html" %}

{% block body %}

{% block fantasy-hd %}
<!-- <div id="fantasy-sponsor">{% block fantasy-backlink %}<a href="{% url 'fantasy:root' %}">Fantasy Races</a>{% endblock %} - presented by <a href="http://www.flyingcracker.com">flyingcracker.com</a></div> -->
{% endblock %}

{% block fantasy-bd %}
<div class="yui-ge">
  <div id="fantasy-main-container" class="yui-u first">
    <div class="main">
    {% block fantasy-main %}
    {% if messages %}
    <div id="message-block">
      <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endblock %}
    </div>
  </div>
  <div id="fantasy-nav-container" class="yui-u">
  {% block fantasy-nav %}
  {% endblock %}
  </div>
</div>
{% endblock %}

{% block fantasy-ft %}
{% endblock %}

{% endblock %}
