{% extends "fantasy/fantasy_dashboard.html" %}

{% block fantasy-main %}
{{ block.super }}
<div class="section-header">
  <div class="section-title">Fantasy Series</div>
</div>

<div id="tab-menu" class="yui-navset">
  <ul class="yui-nav">
    {% if active_series %}
    <li class="selected"><a href="#tab-active"><em>Active</em></a></li>
    {% endif %}
    {% if completed_series %}
    <li{% if not current_event %} class="selected"{% endif %}><a href="#tab-completed"><em>Completed</em></a></li>
    {% endif %}
    {% if is_admin %}
    <li><a href="#tab-admin"><em>Admin</em></a></li>
    {% endif %}
  </ul>

  <div class="yui-content">
    {% if active_series %}
    <div id="tab-active">
      {% include "fantasy/series_active_snippet.html" %}
    </div>
    {% endif %}

    {% if completed_series %}
    <div id="tab-completed">
      {% include "fantasy/series_completed_snippet.html" %}
    </div>
    {% endif %}

    {% if is_admin %}
    <div id="tab-admin">
      <div class="section-header">
        <div class="fantasy-guess-deadline">
          <input type="button" value="Edit Series" onclick="location.href='{% url 'fantasy-series-edit' series.pk %}';" />
        </div>
        <div class="section-title">{{ series }}</div>
        {% if series.description %}
        <div class="section-tagline">{{ series.description }}</div>
        {% endif %}
      </div>
      <hr />
      <table class="fantasy-list-table">
      <tbody>
        <tr>
          <td><input type="button" value="Add {{ series.event_label }}" onclick="location.href='{% url 'fantasy-event-add' series.pk %}';" /></td>
          <td><input type="button" value="{{ series.competitor_label }} List" onclick="location.href='{% url 'fantasy-competitor-list' series.pk %}';" /></td>
          <td><input type="button" value="Team List" onclick="location.href='{% url 'fantasy-team-list' series.pk %}';" /></td>
          <td><input type="button" value="Edit Series" onclick="location.href='{% url 'fantasy-series-edit' series.pk %}';" /></td>
          <td><input type="button" value="Email Players" onclick="location.href='{% url 'fantasy-series-email' series.pk %}';" /></td>
        </tr>
      </tbody>
      </table>
    </div>
    {% endif %}

  </div>
</div>

<br />
<p><a href="{% url 'fantasy-series-add' %}">Create new Series</a></p>
{% endblock %}
