{% extends "fantasy/admin.html" %}

{% block fantasy-main %}
{{ block.super }}
<div class="fantasy-form-help">
</div>
{% if team_list %}

<div id="team-list-container" class="fantasy-list-container">
  <table id="team-list-table" class="fantasy-list-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Team</th>
        <th>{{ series.competitor_label }}s</th>
        {% if is_admin %}<th>Admin</th>{% endif %}
      </tr>
    </thead>
    <tbody>
{% for t in team_list %}
      <tr class="{{ r.row_class }}">
        <td>{{ forloop.counter }}.</td>
        <td>{{ t }}</td>
        {% with t.competitor_set.all as teammates %}
        <td>
          <table class="fantasy-invisible-table">
            <tbody>
              {% for c in teammates %}
              <tr>
                <td>{{ c }}{% if not c.active %}&nbsp;&nbsp;(inactive){% endif %}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </td>
        {% endwith %}
        {% if is_admin %}
        <td><input type="button" value="Edit team" onclick="location.href='{% url 'fantasy-team-edit' t.pk %}';" /></td>
        {% endif %}
            </tr>
{% empty %}
            <tr>
                <td>&nbsp;</td>
                <td>No teams for {{ series }} in database</td>
                <td>&nbsp;</td>
                <td class="nobg">&nbsp;</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
</div>
{% else %}
No teams found.<br />
{% endif %}
{% if is_admin %}
<a href="{% url 'fantasy-team-add' series.pk %}">Add a team to {{ series }}</a><br />
{% endif %}
<a href="{% url 'fantasy-competitor-list' series.pk %}">{{ series.competitor_label }} List</a><br />
{% endblock %}
