{% load staticfiles %}
<div class="panel" selected="true">
    <a name="current"></a>
    <span id="curr_timestamp" class="fieldset_timestamp">{{ timestamp }}</span><h2>Crested Butte, CO</h2>
    <fieldset>
        <div id="curr_weather">
            <div class="yui-b" id="curr-temp-block" style="background: url({{ temp_chart_val|safe }}) no-repeat top">
                <div id="curr_temp" class="yui-b {% if morning %}chart_am{% else %}chart_pm{% endif %}">
                    <span class="temp_value">{{ temp_val }}&#186;</span>
                    <span class="curr_units temp_units" style="display: {{ show_units }}">{{ temp_unit }}</span>
                </div>
            </div>
            <div class="yui-b" id="curr-barometer-block" style="background: url({{ baro_chart_val|safe }}) no-repeat top">
                <div class="yui-b {% if morning %}chart_am{% else %}chart_pm{% endif %}">
                    <div id="curr_baro" class="yui-b">
                        <span class="baro_value">{{ baro_val }}</span>
                        <span class="curr_units baro_units" style="display: {{ show_units }}">{{ baro_unit }}</span>
                    </div>
                    <div class="yui-b weather_title">
                            <span class="curr_title" style="visibility: {{ show_titles }}">barometer</span>
                    </div>
                    <div id="curr_trend" class="yui-b">
                        <span class="baro_value">{{ trend_val|safe }}</span>
                        <span class="curr_units baro_units" style="display: {{ show_units }}">{{ baro_unit }}</span>
                    </div>
                    <div class="yui-b weather_title">
                            <span class="curr_title" style="visibility: {{ show_titles }}">3-hour trend</span>
                    </div>
                </div>
            </div>
            <div class="yui-gb">
                <div id="curr_wind" class="yui-u first"{% if wind_dir %} style="background: url({% static wind_dir %}) no-repeat top"{% endif %}>
                    <span class="speed_value">{{ wind_val }}</span>
                    <div><span class="curr_units speed_units" id="wind_units" style="display: {{ show_units }}">{{ speed_unit }}</span></div>
                </div>
                <div id="curr_windchill" class="yui-u">
                    {% ifnotequal temp_val windchill_val %}
                    <span class="temp_value">{{ windchill_val }}&#186;</span>
                    <span class="curr_units temp_units" style="display: {{ show_units }}">{{ temp_unit }}</span>
                    <div>
                        <span class="curr_title" style="visibility: {{ show_titles }}; font-size: 50%">windchill</span>
                    </div>
                    {% endifnotequal %}
                </div>
                <div id="curr_humidity" class="yui-u">
                    <span id="humidity_value" class="humidity_value">{{ humidity }}%</span>
                    <div>
                        <span class="curr_title" style="visibility: {{ show_titles }}; font-size: 50%">humidity</span>
                    </div>
                </div>
            </div>
            <div class="yui-gb weather_title">
                <div class="yui-u first">
                    <span class="curr_title" style="visibility: {{ show_titles }}">wind</span>
                </div>
                <div class="yui-u">
                    &nbsp;
                </div>
                <div class="yui-u">
                    &nbsp;
                </div>
            </div>
        </div>

        <div class="row">
            <label>Units</label>
            <div class="toggle" onclick="toggleUnits(this)" toggled="{{ unit_state }}">
            <span class="thumb"></span>
            <span class="toggleOn">Yes</span>
            <span class="toggleOff">No</span>
            </div>
        </div>
        <div class="row">
            <label>Labels</label>
            <div class="toggle" onclick="toggleLabels(this)" toggled="{{ title_state }}">
            <span class="thumb"></span>
            <span class="toggleOn">Yes</span>
            <span class="toggleOff">No</span>
            </div>
        </div>
        {% comment %}
        {% if elapsed %}
        <div>
            {% for e in elapsed %}
            {{ e.label }}: {{ e.elapsed }} sec.<br />
            {% endfor %}
        </div>
        {% endif %}
        {% endcomment %}
    </fieldset>

    {% if cbtv %}
    <a name="cbtv"></a>
    <span class="fieldset_timestamp">{{ cbtv.timestamp|date:"H:i \M\T" }}&nbsp;{% if cbtv.stale %}<span class="warning">{% endif %}{{ cbtv.timestamp|date:"D M j" }}{% if cbtv.stale %}</span>{% endif %}</span><h2>CBTV-10 Forecast&nbsp;&mdash;&nbsp;<span class="local">Local!</span></h2>
    <fieldset>
    <div id="cbtv_forecast" class="forecast">
        <div class="yui-b">
            {% for sec in cbtv.sections %}
            <div class="section">
                <div>
                    {{ sec.body|safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </fieldset>
    {% endif %}

    {% if cbac %}
    <a name="cbac"></a>
    <span class="fieldset_timestamp">{{ cbac.timestamp|date:"H:i \M\T" }}&nbsp;{% if cbac.stale %}<span class="warning">{% endif %}{{ cbac.timestamp|date:"D M j" }}{% if cbac.stale %}</span>{% endif %}</span><h2>CBAC Forecast&nbsp;&mdash;&nbsp;<span class="local">Local!</span></h2>
    <fieldset>
    <div id="cbac_forecast" class="forecast">
        <div class="yui-b">
            {% for sec in cbac.sections %}
            <div class="section">
                <strong>{{ sec.title }}</strong>
                <div>
                    {{ sec.body }}
                </div>
            </div>
            {% endfor %}
            {% if cbac.reported_by %}
            <div id="cbac_reporter">
                reported by:&nbsp;{{ cbac.reported_by|slugify|capfirst }}
            </div>
            {% endif %}
        </div>
    </div>
    </fieldset>
    {% endif %}

    {% if noaa %}
    <a name="noaa"></a>
    <span class="fieldset_timestamp">{{ noaa.timestamp|date:"H:i \M\T D M j" }}</span><h2>NOAA Forecast</h2>
    <fieldset>
    <div id="noaa_forecast" class="forecast">
        <div class="yui-b">
            {% if noaa.warning %}
            <div class="warning">
                {{ noaa.warning }}
            </div>
            {% endif %}
            {% for sec in noaa.sections %}
            <div class="section">
                <strong>{{ sec.title }}</strong>
                <div>
                    {{ sec.body }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </fieldset>
    {% endif %}

    {% if sunmoon %}
    <a name="sun"></a>
    <h2>Sun</h2>
    <fieldset>
        <div class="forecast">
            <div class="body">
                <table bgcolor="white" border="0" cellpadding="3" margin="0">
                <!-- Headers -->
                <tr align="center">
                    <th>&nbsp</th>
                    <th>Begin<br>Twilight</th>
                    <th>Sunrise</th>
                    <th>Sunset</th>
                    <th>End<br>Twilight</th>
                </tr>
                <!-- Today -->
                <tr align="center">
                    <th>Today:</th>
                    <td>{{ sunmoon.today_rstt.twilight_begin }}</td>
                    <td>{{ sunmoon.today_rstt.sunrise }}</td>
                    <td>{{ sunmoon.today_rstt.sunset }}</td>
                    <td>{{ sunmoon.today_rstt.twilight_end }}</td>
                </tr>
                <!-- Tomorrow -->
                <tr align="center">
                    <th>Tomorrow:</th>
                    <td>{{ sunmoon.tomorrow_rstt.twilight_begin }}</td>
                    <td>{{ sunmoon.tomorrow_rstt.sunrise }}</td>
                    <td>{{ sunmoon.tomorrow_rstt.sunset }}</td>
                    <td>{{ sunmoon.tomorrow_rstt.twilight_end }}</td>
                </tr>
                </table>
            </div>
        </div>  <!-- forecast -->
    </fieldset>
    {% endif %}

    {% if sunmoon or moonphases %}
    <a name="moon"></a>
    <h2>Moon</h2>
    <fieldset>

        {% if sunmoon %}
        <div class="forecast">
            <div class="body">
                <table bgcolor="white" border="0" cellpadding="3">
                <!-- Headers -->
                <tr align="center">
                    <th>&nbsp</th>
                    <th>Moonrise</th>
                    <th>Moonset</th>
                </tr>
                <!-- Today -->
                <tr align="center">
                    <th>Today:</th>
                    <td>{{ sunmoon.today_rstt.moonrise }}</td>
                    <td>{{ sunmoon.today_rstt.moonset }}</td>
                </tr>
                <!-- Tomorrow -->
                <tr align="center">
                    <th>Tomorrow:</th>
                    <td>{{ sunmoon.tomorrow_rstt.moonrise }}</td>
                    <td>{{ sunmoon.tomorrow_rstt.moonset }}</td>
                </tr>
                </table>

            </div>
        </div>  <!-- forecast -->
        {% endif %}
    </fieldset>
    {% endif %}
</div>
