{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Light</title>
    <meta name="description" content="Cracklyfinger iPhone Light" />
    <meta name="keywords" content="Cracklyfinger Light iPhone Flashlight" />
    <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.5; user-scalable=0;"/>
    <meta HTTP-EQUIV="Refresh" CONTENT="180">
    <script type="application/x-javascript">
        addEventListener('load', function() { setTimeout(hideAddressBar, 0); }, false);
        function hideAddressBar() { window.scrollTo(0, 1); }
    </script>
    <link rel="apple-touch-icon" href="{% static "img/light-icon.png" %}" />
</head>
<body bgcolor=white>
    <img src="{% static "img/flashlight.gif" %}" alt="Cracklyfinger Light">
</body>