body {
	background-color: #000;
	font-family: Helvetica;
	font-size: 13px;
	margin: 0;
	padding: 0;
	-webkit-text-size-adjust: none;
}
body[orient="portrait"] { min-width: 320px;}
body[orient="landscape"] { min-width: 480px;}
a { color: #194fdb; }
a:active { outline: none; }
a:focus { -moz-outline-style: none; }
form { margin: 0; }
.oldmore {
	display: none;
	visibility: hidden;
}
body > div#content > ul,
body > div#content > form > ul {
	background-color: #FFF;
	border: 0px solid;
	margin: 0;
	padding: 0;
}
body > div#content > ul > li,
body > div#content > form > ul > li {
	border-bottom: 1px rgb(217,217,217) solid;
	list-style-type: none;
	padding: 10px 10px 14px 10px;
}



/* titleBar */
body > div.titleBar {
	background-color: #000;
	background-image: url(../img/iphone/toolBarOverlay.png);
	background-position: left center;
	background-repeat: repeat-x;
	border-bottom: 1px solid #333;
	border-top: 1px solid #000;
	color: #FFF;
	font-size: 14px;
	line-height: 35px;
	padding: 0 0 0 18px;
	position: relative;
	text-shadow: rgba(255,255,255,0.6) 0 1px 1px;
}
body > div.titleBar img.icon {
	left: 7px;
	position: absolute;
	top: 5px;
}
body > div.titleBar > span#pageTitle {
	position: absolute;
	right: 10px;
}
body > div.titleBar > div > a {
	color: #FFF;
	text-decoration: none;
}
body > div.titleBar > div.fc3title {
	float: left;
	font-size: 123.1%;
	line-height: 25px;
	padding-top: 5px;
}
body > div.titleBar > div.titleButton {
	 border-left: 1px solid #333;
	 border-right: 1px solid #111;
	 float: right;
	 font-weight: bold;
	 text-align: center;
	 width: 85px;
}
body > div.titleBar > div.titleButton > a {
	cursor: pointer;
	display: block;
	height: 35px;
	width: 85px;
}
body > div.titleBar > div.titleButton > a:hover {
	background-image: url(../img/iphone/toolBarOverlay.png);
	background-position: left center;
	background-repeat: repeat-x;
}
body > div#content ul > li.pageTitleBar {
	background-color: #FFF;
	background-image: url(../img/iphone/titleOverlay.png);
	background-position: left center;
	background-repeat: repeat-x;
	border-bottom: none;
	border-top: 1px solid #111;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 10px 0px 30px;
	text-align: left;
	text-shadow: rgba(255,255,255,0.7) 0 0 2px;
}



/* Menu */
body > div#content > ul > li.menu {
	background-position: 6px 6px;
	background-repeat: no-repeat;
	border-bottom: 1px rgb(217,217,217) solid;
	font-weight: bold;
	list-style-type: none;
	padding: 0px;
}
body > div#content > ul > li.menu.first {
	background-position: top left;
	background-repeat: repeat-x;
}
body > div#content > ul > li.menu.grey a { color: #666; }
li.menu a {
	color: #000;
	display: block;
	/*padding: 14px 10px 10px 44px;*/
	padding:10px 10px 14px 44px;
	text-decoration: none;
	line-height:20px
}
li.menu.first a {
	font-style: italic;
	font-weight: normal;
}
li.menu a[selected="progress"] {
	background-image: url(../img/iphone/load.gif);
	background-position: 280px center;
	background-repeat: no-repeat;
}
li.menu.first a { padding: 14px 10px 10px 10px; }
body > div#content > ul > li.menu.login { background-image: url(../img/iphone/icons/login.gif); }
body > div#content > ul > li.menu.logout { background-image: url(../img/iphone/icons/logout.gif); }

#ft {
    padding-bottom: 10px;
}

.button {
    overflow: hidden;
    margin: 0;
    border-width: 0 5px;
    padding: 3px 3px;
    width: auto;
    height: 30px;
    line-height: 30px;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    -webkit-border-image: url(../img/iphone/toolButton.png) 0 5 0 5;
}

/* Form */
.formRow {
	margin: 0px auto;
	text-align: left;
	width: 280px;
}
.followInner .formRow {
	width: 300px;
}
.followInner .formRow .optButton.thin .optButton_middle{
	width:205px;
}
.followInner .formRow .optButton.black.thin .optButton_middle{
	width:50px;
}
form label {
	color: #666;
	font-size: 12px;
	margin-left: 10px;
	padding-bottom: 3px;
	text-transform: uppercase;
}
form input[type=text],
form input[type=password] {
	border: 2px solid rgb(217,217,217);
	font-size: 20px;
	height: 28px;
	margin-bottom: 5px;
	padding-top: 6px;
	text-align: center;
	width: 260px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
form input[type=text]:focus,
form input[type=password]:focus {
	border: 2px solid #194fdb;
	outline-style: none;
}



/* toolBar */
body > div.toolBar {
	background-color: #4D4F53;
	background-image: url(../img/iphone/menuBar.gif);
	background-position: top left;
	background-repeat: repeat-x;
	height: 60px;
	overflow: hidden;
	position: relative;
}
body > div.toolBar.closed { display: none; }
body > div.toolBar.open { display: block; }
div.toolBar ul {
	font-size: 10px;
	left: 0px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
}
div.toolBar ul li {
	color: #FFF;
	cursor: pointer;
	float: left;
	font-weight: bold;
	height: 44px;
	list-style-type: none;
	padding: 8px 0;
	text-align: center;
	width: 70px;
}
div.toolBar ul li.arrow {
	background-color: rgba(0,0,0,0.3);
	width: 39px;
}
div.toolBar ul li:hover { background-color: rgba(0,0,0,0.3); }
div.toolBar ul li.arrow:hover { background-color: rgba(0,0,0,0.3); }
div.toolBar div#toolBarLoad {
	background-image: url(../img/iphone/more_bg.png);
	background-position: left center;
	background-repeat: repeat-x;
	color: #FFF;
	display: none;
	font-size: 24px;
	font-weight: bold;
	left: 0;
	line-height: 60px;
	position: absolute;
	text-align: center;
	text-shadow: #000 1px 1px 4px;
	top: 0;
	width: 100%;
	z-index: 1000;
}
div.toolBar ul li a {
	color: #FFF;
	text-decoration: none;
}
div.toolBar ul li a img { border-width: 0px; }
a.favourite,
a.is-favourite { position: relative; }
a.favourite img.fav-done,
a.is-favourite img.fav-done {
	left: 0px;
	position: absolute;
	top: 0px;
}



/* Preload */
#preloader {
    display: none;
    background-image: url(../img/iphone/load.gif), url(../img/iphone/loading.gif), url(../img/iphone/favspinner.gif), url(../img/iphone/selection.png), url(../img/iphone/button.png), url(../img/iphone/shadow.png), url(../img/iphone/fav.gif), url(../img/iphone/select_bg.png), url(../img/iphone/input.png), url(../img/iphone/menuBar.gif), url(../img/iphone/update_bg.png), url(../img/iphone/titleOverlay.png), url(../img/iphone/arrow.gif);
}



body > div#content > form > ul > li.black {
	background-color: #000;
	border-bottom: 1px solid #000;
}



body #content > .panel {
    background: #C8C8C8 url(../img/iphone/pinstripes.png);
    box-sizing: border-box;
    padding: 10px;
}
.panel > fieldset {
    background: #FFFFFF;
	border: 1px solid #D9D9D9;
    font-size: 16px;
    margin: 0 0 20px 0;
    padding: 0;
	position: relative;
    text-align: right;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.row  {
    border-bottom: 1px solid #D9D9D9;
    min-height: 17px;
    padding: 10px;
    position: relative;
    text-align: right;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
fieldset > .row.last { border-bottom-width: 0px !important; }
.row > input {
    background: none;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    height: 17px;
    left: 14px;
    margin: 0;
    padding: 0px 0px 0 110px;
    position: absolute;
    top: 10px;
}
.row > input:focus { outline-style: none; }
.row > label {
    font-weight: bold;
    left: 14px;
    line-height: 20px;
    margin: 0;
    position: absolute;
    top: 10px;
}
.row > .toggle {
    height: 23px;
    position: absolute;
    right: 6px;
    top: 6px;
    width: 80px;
}
.toggle {
    background: #FFFFFF url(../img/iphone/toggle.png) repeat-x;
    border: 1px solid #AAA;
    font-size: 17px;
    font-weight: bold;
    line-height: 25px;
    -webkit-border-radius: 6px;
}
.toggle[toggled="true"] {
    background: #194fdb url(../img/iphone/toggleOn.png) repeat-x;
    border: 1px solid #143fae;
}
.toggleOn {
    color: #FFFFFF;
    display: none;
    left: 0;
    position: absolute;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0;
    top: 0;
    width: 50px;
}
.toggleOff {
    color: #666666;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: rgba(100, 100, 100, 0.4) 0px -1px 0;
    top: 0;
    width: 50px;
}
.toggle[toggled="true"] > .toggleOn { display: block; }
.toggle[toggled="true"] > .toggleOff { display: none; }
.thumb {
    background: #ffffff url(../img/iphone/thumb.png) repeat-x;
    border: 1px solid #AAA;
    height: 23px;
    left: -1px;
    position: absolute;
    top: -1px;
    width: 30px;
    -webkit-border-radius: 6px;
}
.toggle[toggled="true"] > .thumb {
    left: auto;
    right: -1px;
}
.panel > h2 {
    font-size: inherit;
    font-weight: bold;
    color: #DDD;
    margin: 0 0 8px 14px;
    text-shadow: rgba(255, 255, 255, 0.75) 2px 2px 0;
}



/* Fixes */
div.titleBar:after,
ul:after,
div#update-inner:after,
div#update-inner div.formRow:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
