.container {
    position: absolute;
    width: 100%;
}

#page_title {
    text-align: center;
    font-size: 80%;
}
#curr_weather {
    text-align: center;
}
#curr_temp {
    font-size: 2.5em;
    height: 110px;
}
#curr-barometer-block {
    height: 130px;
}
#curr_trend {
    font-size: 2em;
    line-height: 90%;
}
#curr_baro {
    font-size: 2em;
    line-height: 90%;
    padding-top: 0.1em;
}
#curr_wind, #curr_humidity, #curr_windchill{
    font-size: 2em;
    text-align: center;
    line-height: 60%;
    height: 50px;
    padding-top: 26px;
}
#curr_indoor {
    font-size: 2em;
}
.temp-left {
    padding-left: 10px;
}
.temp-right {
    padding-right: 10px;
}
.baro-left {
    padding-left: 15px;
}
.baro-right {
    padding-right: 15px;
}
.weather_title {
    margin-bottom: 10px;
}
.curr_units {
    font-size: 60%;
}
#wind_units {
    font-size: 40%;
}
.warning {
    color: red;
    font-weight: bold;
}
.forecast {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.forecast .section {
    margin-top: 8px;
    margin-bottom: 8px;
}
.forecast .section strong {
    font-weight: bold;
}
#cbac_reporter {
    font-size: 70%;
    text-align: center;
}
.barMenu {
    background:#6D84A2 url(/static/img/iphone/toolbar.png) repeat-x scroll 0%;
    margin: 10px 0pt 5px;
    text-align: center;
}
.barMenu a.button {
    color: #FFFFFF;
}
.barMenu span.button {
    color: #FF9933;
}
.fieldset_timestamp {
    float: right;
    font-size: 90%;
}
.panel > h2 {
    text-align: left;
    color: #003333;
}
.chart_am {
    text-align: right;
    margin-right: 50px;
}
.chart_pm {
    text-align: left;
    margin-left: 50px;
}

#miniblog {
    text-align: left;
    padding: 5px;
}
#miniblog .timestamp {
    font-size: 93%;
    color: gray;
}
#miniblog .post {
    padding-top: 5px;
    font-size: 108%
}
