{% extends "weather.html" %}
{% load markup static %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript" src="{{ yui_path }}/build/utilities/utilities.js"></script>
{% endblock %}

{% block body %}
	<div class="box">
    	<div class="weatherItem">
			<div class="header">
				<div class="title">
					Crested Butte South Current Conditions
				</div> <!-- title -->

				<div class="date">
					{{ timestamp }}
				</div> <!-- date -->
			</div> <!-- header -->

			<div class="body">
                <div id="curr_weather">
				    Temperature - <b><span class="temp-today">Today</span></b>, <b><span class="temp-yesterday">Yesterday</span></b>, and <b><span class="temp-year-ago">One Year Ago</span></b><br />
                    <div id="curr-temp-block" style="background: url({{ temp_chart_val|safe }}) no-repeat top">
                        <div id="curr_temp" class="{% if morning %}chart_am{% else %}chart_pm{% endif %}">
                            <span class="temp_value">{{ temp_val }}&#186;</span>
                            <span class="curr_units temp_units" style="display: {{ show_units }}">{{ temp_unit }}</span>
                        </div>
                    </div>
				    Barometric Pressure - <b><span class="bp-today">Today</span></b>, <b><span class="bp-yesterday">Yesterday</span></b>, and <b><span class="bp-year-ago">One Year Ago</span></b><br />
                    <div id="curr-barometer-block" style="background: url({{ baro_chart_val|safe }}) no-repeat top">
                        <div class="{% if morning %}chart_am{% else %}chart_pm{% endif %}">
                            <div id="curr_baro">
                                <span class="baro_value">{{ baro_val }}</span>
                                <span class="curr_units baro_units" style="display: {{ show_units }}">{{ baro_unit }}</span>
                            </div>
                            <div class="weather_title">
                                    <span class="curr_title" style="visibility: {{ show_titles }}">barometer</span>
                            </div>
                            <div id="curr_trend">
                                <span class="baro_value">{{ trend_val|safe }}</span>
                                <span class="curr_units baro_units" style="display: {{ show_units }}">{{ baro_unit }}</span>
                            </div>
                            <div class="weather_title">
                                    <span class="curr_title" style="visibility: {{ show_titles }}">3-hour &#916;</span>
                            </div>
                        </div>
                    </div>
                    <div class="yui-gb">
                        <div id="curr_wind" class="yui-u first"{% if wind_dir %} style="background: url({% static wind_dir %}) no-repeat top"{% endif %}>
                            <span class="speed_value">{{ wind_val }}</span>
                            <div><span class="curr_units speed_units" id="wind_units" style="display: {{ show_units }}">{{ speed_unit }}</span></div>
                        </div>
                        <div id="curr_windchill" class="yui-u">
                            {% ifnotequal current.temp current.windchill %}
                            <span class="temp_value">{{ windchill_val }}&#186;</span>
                            <span class="curr_units temp_units" style="display: {{ show_units }}">{{ temp_unit }}</span>
                            <div>
                                <span style="font-size: 50%">windchill</span>
                            </div>
                            {% endifnotequal %}
                        </div>
                        <div id="curr_humidity" class="yui-u">
                            <span id="humidity_value" class="humidity_value">{{ humidity }}%</span>
                            <div>
                                <span class="curr_title" style="visibility: {{ show_titles }}; font-size: 50%">humidity</span>
                            </div>
                        </div>
                    </div>
                    <div class="yui-gb weather_title">
                        <div class="yui-u first">
                            <span class="curr_title" style="visibility: {{ show_titles }}">wind</span>
                        </div>
                        <div class="yui-u">
                            &nbsp;
                        </div>
                        <div class="yui-u">
                            &nbsp;
                        </div>
                    </div>
                    <div class="yui-g">
                        <div class="yui-u first toggle" onclick="toggleUnits(this)" toggled="{{ unit_state }}">
                            <button id="units-button">Units</button>
                        </div>
                        <div class="yui-u toggle" onclick="toggleLabels(this)" toggled="{{ unit_state }}">
                            <button id="labels-button">Labels</button>
                        </div>
                    </div>
                </div>
                {% if elapsed %}
                <div class="elapsed">
                    {% for e in elapsed %}
                    {{ e.label }}: {{ e.elapsed }} sec.<br />
                    {% endfor %}
                </div>
                {% endif %}
			</div> <!-- body -->
		</div>  <!-- weatherItem -->
	</div>  <!-- box -->

    {% if noaa %}
    <div class="box">
  	<div class="weatherItem">
        <div class="header">
            <div class="title">
                NOAA Forecast
            </div> <!-- title -->

            <div class="date">
                {{ noaa.timestamp|date:"H:i \M\T D M j, Y" }}
            </div> <!-- date -->
        </div> <!-- header -->

        <div class="forecast">
            {% if noaa.warning %}
            <div class="warning">
                {{ noaa.warning }}
            </div>
            {% endif %}
            {% for sec in noaa.sections %}
            <div class="section">
                <div class="title">{{ sec.title }}</div>
                <div class="body">
                    {{ sec.body }}
                </div>
            </div>
            {% endfor %}
        </div>  <!-- forecast -->
    </div>  <!-- weatherItem -->
    </div>  <!-- box -->
    {% endif %}

    {% if cbtv %}
    <div class="box">
  	<div class="weatherItem">
        <div class="header">
            <div class="title">
                CBTV-10 Forecast
            </div> <!-- title -->

            <div class="date">
                {{ cbtv.timestamp|date:"H:i \M\T" }}&nbsp;{% if cbtv.stale %}<span class="warning">{% endif %}{{ cbtv.timestamp|date:"D M j" }}{% if cbtv.stale %}</span>{% endif %}{{ cbtv.timestamp|date:", Y" }}
            </div> <!-- date -->
        </div> <!-- header -->

        <div class="forecast">
            {% if cbtv.warning %}
            <div class="warning">
                {{ cbtv.warning|safe }}
            </div>
            {% endif %}
            {% for sec in cbtv.sections %}
            <div class="section">
                <div class="body">
                    {{ sec.body|safe }}
                </div>
            </div>
            {% endfor %}
        </div>  <!-- forecast -->
    </div>  <!-- weatherItem -->
    </div>  <!-- box -->
    {% endif %}

    {% if cbac %}
    <div class="box">
  	<div class="weatherItem">
        <div class="header">
            <div class="title">
                CBAC Forecast
            </div> <!-- title -->

            <div class="date">
                {{ cbac.timestamp|date:"H:i \M\T" }}&nbsp;{% if cbac.stale %}<span class="warning">{% endif %}{{ cbac.timestamp|date:"D M j" }}{% if cbac.stale %}</span>{% endif %}{{ cbac.timestamp|date:", Y" }}
            </div> <!-- date -->
        </div> <!-- header -->

        <div class="forecast">
            {% if cbac.warning %}
            <div class="warning">
                {{ cbac.warning }}
            </div>
            {% endif %}
            {% for sec in cbac.sections %}
            <div class="section">
                <div class="title">{{ sec.title }}</div>
                <div class="body">
                    {{ sec.body }}
                </div>
            </div>
            {% endfor %}
            {% if cbac.reported_by %}
            <div class="reporter">
            reported by {{ cbac.reported_by }}
            {% endif %}
            </div>
        </div>  <!-- forecast -->
    </div>  <!-- weatherItem -->
    </div>  <!-- box -->
    {% endif %}

<script type="text/javascript">
    {% include "weather/iphone/weather.js" %}
    YAHOO.util.Event.onAvailable('curr_weather', current_weather.init);
</script>


{% endblock %}
