{% extends "iphone_base.html" %}

{% block my_source %}
{{ block.super }}
    <script type="text/javascript" src="/static/js/weather.js"></script>
{% endblock my_source %}

{% block content %}
    <div class="panel" selected="true">
        <a name="current"></a>
        <span id="curr_timestamp" class="fieldset_timestamp"></span><h2>Crested Butte, CO</h2>
        <fieldset>
            <div class="barMenu">
                <span class="button">Current</span>
                {% if cbac %}<a href="#cbac" class="button">CBAC Forecast</a>{% endif %}
                <a href="#noaa" class="button">NOAA Forecast</a>
            </div>
            <div id="curr_weather">
                <div class="yui-b" style="background: url({{ temp_chart }}) no-repeat top">
                    <div id="curr_temp" class="yui-b {% if morning %}chart_am{% else %}chart_pm{% endif %}">
                        <span class="temp_value"></span>
                        <span class="curr_units temp_units" style="display: {{ show_units }}"></span>
                    </div>
                </div>
                <div class="yui-b" id="curr_barometer_block" style="background: url({{ baro_chart }}) no-repeat top">
                    <div class="yui-b {% if morning %}chart_am{% else %}chart_pm{% endif %}">
                        <div id="curr_baro" class="yui-b">
                            <span class="baro_value"></span>
                            <span class="curr_units baro_units" style="display: {{ show_units }}"></span>
                        </div>
                        <div class="yui-b weather_title">
                                <span class="curr_title" style="visibility: {{ show_titles }}">barometer</span>
                        </div>
                        <div id="curr_trend" class="yui-b">
                            <span class="baro_value"></span>
                            <span class="curr_units baro_units" style="display: {{ show_units }}"></span>
                        </div>
                        <div class="yui-b weather_title">
                                <span class="curr_title" style="visibility: {{ show_titles }}">3-hour trend</span>
                        </div>
                    </div>
                </div>
                <div class="yui-gb">
                    <div id="curr_wind" class="yui-u first"{% if wind_dir %} style="background: url(/static/img/{{ wind_dir }}) no-repeat top"{% endif %}>
                        <span class="speed_value"></span>
                        <div><span class="curr_units speed_units" id="wind_units" style="display: {{ show_units }}"></span></div>
                    </div>
                    <div id="curr_windchill" class="yui-u">
                        <span class="temp_value"></span>
                        <span class="curr_units temp_units" style="display: {{ show_units }}"></span>
                    </div>
                    <div id="curr_humidity" class="yui-u">
                        <span class="humidity_value"></span>
                        <span class="curr_units">%</span>
                    </div>
                </div>
                <div class="yui-gb weather_title">
                    <div class="yui-u first">
                        <span class="curr_title" style="visibility: {{ show_titles }}">wind</span>
                    </div>
                    <div class="yui-u">
                        <span class="curr_title" style="visibility: {{ show_titles }}">windchill</span>
                    </div>
                    <div class="yui-u">
                        <span class="curr_title" style="visibility: {{ show_titles }}">humidity</span>
                    </div>
                </div>
                <div class="yui-b">
                    <button id="refresh-button">Refresh Weather</button>
                </div>
            </div>
        
            <div class="row">
                <label>Show Units:</label>
                <div class="toggle" onclick="toggleUnits(this)" toggled="{{ unit_state }}">
                <span class="thumb"></span>
                <span class="toggleOn">Yes</span>
                <span class="toggleOff">No</span>
                </div>
            </div>            
            <div class="row">
                <label>Show Labels:</label>
                <div class="toggle" onclick="toggleLabels(this)" toggled="{{ title_state }}">
                <span class="thumb"></span>
                <span class="toggleOn">Yes</span>
                <span class="toggleOff">No</span>
                </div>
            </div>            
        </fieldset>
        
        {% if cbac %}
        <a name="cbac"></a>
        <span class="fieldset_timestamp">{{ cbac.timestamp|date:"H:i \M\T" }}&nbsp;{% if cbac.stale %}<span class="warning">{% endif %}{{ cbac.timestamp|date:"D M j" }}{% if cbac.stale %}</span>{% endif %}{{ cbac.timestamp|date:", Y" }}</span><h2>CBAC Forecast</h2>
        <fieldset>
        <div class="barMenu">
            <a href="#current" class="button">Current</a>
            <span class="button">CBAC Forecast</span>
            <a href="#noaa" class="button">NOAA Forecast</a>
        </div>
        <div id="cbac_forecast" class="forecast">
            <div class="yui-b">
            {% if cbac %}
                {% for sec in cbac.sections %}
                <div class="section">
                    <strong>{{ sec.title }}</strong>
                    <div>
                        {{ sec.body }}
                    </div>
                </div>
                {% endfor %}
                <div id="cbac_reporter">
                    reported by:&nbsp;{{ cbac.reported_by|slugify|capfirst }}
                </div>
            {% endif %}
            </div>
        </div>
        </fieldset>
        {% endif %}
        
        <a name="noaa"></a>
        <span class="fieldset_timestamp">{{ noaa.timestamp|date:"H:i \M\T D M j, Y" }}</span><h2>NOAA Forecast</h2>
        <fieldset>
        <div class="barMenu">
            <a href="#current" class="button">Current</a>
            {% if cbac %}<a href="#cbac" class="button">CBAC Forecast</a>{% endif %}
            <span class="button">NOAA Forecast</span>
        </div>
        <div id="noaa_forecast" class="forecast">
            <div class="yui-b">
            {% if noaa %}
                {% if noaa.warning %}
                <div class="warning">
                    {{ noaa.warning }}
                </div>
                {% endif %}
                {% for sec in noaa.sections %}
                <div class="section">
                    <strong>{{ sec.title }}</strong>
                    <div>
                        {{ sec.body }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
        </div>
        </fieldset>
    </div>
{% endblock content %}






<link rel="stylesheet" type="text/css" href="/static/css/iphone.css" />
    
    
<style>

.container {
    position: absolute;
    width: 100%;
}

#page_title {
    text-align: center;
    font-size: 80%;
}
#curr_weather {
    text-align: center;
}
#curr_temp {
    font-size: 2.5em;
    height: 110px;
}
#curr_barometer_block {
    height: 130px;
}
#curr_trend {
    font-size: 2em;
    line-height: 90%;
}
#curr_baro {
    font-size: 2em;
    line-height: 90%;
    padding-top: 0.1em;
}
#curr_wind, #curr_humidity, #curr_windchill{
    font-size: 2em;
    text-align: center;
    line-height: 60%;
    height: 50px;
    padding-top: 26px;
}
#curr_indoor {
    font-size: 2em;
}
.temp-left {
    padding-left: 10px;
}
.temp-right {
    padding-right: 10px;
}
.baro-left {
    padding-left: 15px;
}
.baro-right {
    padding-right: 15px;
}
.weather_title {
    margin-bottom: 10px;
}
.curr_units {
    font-size: 60%;
}
#wind_units {
    font-size: 40%;
}
.warning {
    color: red;
    font-weight: bold;
}
.forecast {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.forecast .section {
    margin-top: 8px;
    margin-bottom: 8px;
}
.forecast .section strong {
    font-weight: bold;
}
#cbac_reporter {
    font-size: 70%;
    text-align: center;
}
.barMenu {
    background:#6D84A2 url(/static/img/iphone/toolbar.png) repeat-x scroll 0%;
    margin: 10px 0pt 5px;
    text-align: center;
}
.barMenu a.button {
    color: #FFFFFF;
}
.barMenu span.button {
    color: #FF9933;
}
.fieldset_timestamp {
    float: right;
    font-size: 90%;
}
.panel > h2 {
    text-align: left;
    color: #003333;
}
.chart_am {
    text-align: right;
    margin-right: 50px;
}
.chart_pm {
    text-align: left;
    margin-left: 50px;
}
</style>

<script type="application/x-javascript">

    function hideAddressBar() {
        window.scrollTo(0, 1);
    }
    
    addEventListener("load", function()
    {
        setTimeout(hideAddressBar, 0);
    }, false);
    
</script>

</head>


